//@include transition(0.3s);
@mixin transition($time){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
}

@mixin whiteBox(){
	background:white;
	border: 1px solid $lightBorderClr;
	padding: 5px;
	border-radius: 5px;
}