$oldIE: false !default;

// Spacing
// ------------------------------------------------------------------------------
$sidebarWidthSmall: 190px;
$sidebarWidthMedium: 270px;


// Fonts
// ------------------------------------------------------------------------------
$weightSuperLight: 100;
$weightLight: 300;
$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 600;


// Icons
// ------------------------------------------------------------------------------

$icons: (
	menu: '\e800',
	down-dir: '\e801',
);