/* <svg class="logo" */
svg.logo {
	width: 100%;
	fill: black;
	path { fill: black; }

	&--white {
		fill: white;
		path { fill: white; }
	}

	&--100 {
		height: 100px;
	}
	&--200 {
		height: 200px;
		
	}
}