

<div view-bgcolor="alert.bgcolor"
	class="alert box card bg-color--white">
	<div class="splitter">
		<div class="splitter__left">
			<h5 class="alert__title">{alert.title}</h5>
		</div>
		<div class="splitter__right">
			<svg class="icon icon--10 bump-up-2"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
		</div>
	</div>
	
</div>
<br>