<div class="splitter splitter--full-width">
    <div class="splitter__left">
        <span class="status status--50 display-inline-block">
            <span class="status__title">50%</span>
            <span class="status__bar"></span>
        </span>  
    </div>
    <div class="splitter__right full-width text-align-left">
        
        <div view-each-reason="argument.reasons">
            <p class="full-width small">
                <span class="status status--50 display-inline-block">
                    <!-- <span class="status__title">50%</span> -->
                    <span class="status__bar"></span>
                </span>
                &nbsp; <span class="claim-text">{reason._id}</span>
            </p>
        </div>
      
    </div>
</div>
<br>
<hr>