<div class="splitter splitter--full-width">
    <div class="splitter__left">
        <svg class="float-left" view-show="argument.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
        <svg class="float-left" view-hide="argument.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>    
    </div>
    <div class="splitter__right full-width text-align-left">
        
        <div view-each-reason="argument.reasons">
            <p class="full-width small">
                <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                &nbsp; <span class="claim-text">an argument in this this group</span>
            </p>
        </div>
      

        <p class="full-width small">
            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
            &nbsp;Eg arg reason</p>


    </div>
</div>
<br>
<hr>