<div class="splitter splitter--full-width">
    <div class="splitter__left">
        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>        
    </div>
    <div class="splitter__right full-width text-align-left">
        
        <p class="full-width small">
            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
            an argument in this this first supporting group</p>

        <p class="full-width small">
            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
            an argument in this this first supporting group</p>


    </div>
</div>