<!-- for each claim -->

<a href="#">draft.description</a>
<!--
<div class="claim-list-item splitter splitter--full-width box box--5 box--wide">
    
    <a class="splitter__left">
        <svg class="bump-up-1 color--black"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
        draft.description
    </a>
    
    <div class="claim-list-item__hover-show splitter__right text-color--black">
    
        <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
        <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
        <svg class="icon hover-color--red cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
        
    </div>
</div>
-->