<div class="row">

    <div class="row__col--1-half">
        <div class="card bg-color--white text-color--black box">

            {{> referencing_claim }}
            <hr>

            {{> referencing_claim }}
            <hr>
            
        </div>
        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Supports</p>

    </div>

    <div class="row__col--1-half">
        <div class="card bg-color--white text-color--black box">

            {{> referencing_claim }}
            <hr>

            {{> referencing_claim }}
            <hr>
            
        </div>
        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Opposes</p>

    </div>
</div>


<div class="text-color--black">   
    <div class="box card bg-color--white">
        <p class="full-width text-align-center no-margins">
            <svg class="float-left" view-show="state.editor_detail.claim.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
            <svg class="float-left" view-hide="state.editor_detail.claim.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
            &nbsp;{state.editor_detail.claim.description}
        </p>
    </div>
    <!--
    <textarea name="" class="trumbowyg-claim-input claim-input display-none" cols="30" rows="10">{state.editor_detail.claim.description}</textarea>
    -->
</div>


<div class="row">
    <div class="row__col--1-half">

        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">For</p>

        <!-- The New Argument form -->
        <div class="card bg-color--white text-color--black box">
            <div class="splitter splitter--full-width">
                <div class="splitter__left">
                    <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
                </div>
                <div class="splitter__right full-width text-align-left">

                    <input view-each-reason="state.new_arguments.editor_detail_for.reasons" 
                        type="text" 
                        class="full-width js-new-reason"
                        data-argument-id="editor_detail_for"
                        view-on-keypress="state.actions.new_reason_keypress" 
                        placeholder="Add a reason...">

                    <!-- When typing a reason search results will fill in here -->
                    <div view-show="state.new_arguments.editor_detail_for.show_results">
                        <button class="splitter box box--wide splitter--full-width"
                            view-each-result="state.new_arguments.editor_detail_for.search_results"
                            view-on-click="state.actions.add_reason_to_argument"
                            data-argument-id="editor_detail_for"
                            view-data-claim-id="result._id">
                            <div class="splitter__left">
                                <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use></svg>
                            </div>
                            <div class="splitter__right">
                                <p>{result.description}</p>
                            </div>
                        </button>
                    </div>

                    <!-- When the argument group is valid, then show this to save -->
                    <div view-show="state.editor_detail.new_for.is_valid">
                        <br>
                        <button class="button full-width text-align-center"
                            view-on-click="state.actions.save_new_argument"
                            data-to="editor_detial_for">
                            save argument</button>
                    </div>
                </div>
            </div>


           
        </div>

        <br>

        <div class="card bg-color--white text-color--black box">

            <hr>
            <div view-each-argument="state.editor_detail.claim.supporting">{{> argument_group }}</div>
            {{> argument_group }}

        </div>
    </div>

    <div class="row__col--1-half">

        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Against</p>


        
        <div class="card bg-color--white text-color--black box">

            <hr>
            <div view-each-argument="state.editor_detail.claim.opposing">{{> argument_group }}</div>
            {{> argument_group }}

        </div>
    </div>
</div>