
<!-- confusing section, even for Douglas -->
<div class="row" style="display:none;">

    <div class="row__col--1-half">
        <div class="card bg-color--white text-color--black box">

            {{> referencing_claim }}
            <hr>

            {{> referencing_claim }}
            <hr>
            
        </div>
        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Supports</p>

    </div>

    <div class="row__col--1-half">
        <div class="card bg-color--white text-color--black box">

            {{> referencing_claim }}
            <hr>

            {{> referencing_claim }}
            <hr>
            
        </div>
        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Opposes</p>

    </div>
</div>


<div class="text-color--black">   
    <div class="box card bg-color--white">
        <p class="full-width text-align-center no-margins">
            <svg class="float-left" view-show="editor_detail.claim.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
            <svg class="float-left" view-hide="editor_detail.claim.status"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
            &nbsp;{editor_detail.claim.description}
        </p>
    </div>
    <!--
    <textarea name="" class="trumbowyg-claim-input claim-input display-none" cols="30" rows="10">{editor_detail.claim.description}</textarea>
    -->
</div>


<div class="row">
    <div class="row__col--1-half">

        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">For</p>

        <div class="js-argument-creation-form">
            {{> new_argument_form }}
        </div>

        <br>

        <div class="card bg-color--white text-color--black box">

            <div class="splitter splitter--full-width">
                <div class="splitter__left">
                    <!-- The sorting / filtering icons -->
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sort-ascending"></use></svg>
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sort-descending"></use></svg>
                    <!-- Capricious -->
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fire"></use></svg>
                    <!-- popular -->
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use></svg>
                    <!-- critical -->
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning"></use></svg>
                </div>
                <div class="splitter__right">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg>
                </div>
            </div>

            <br>
            <div class="splitter splitter--full-width">
                <div class="splitter__left">
                    <p>Show the </p>
                </div>
                <div class="splitter__right full-width">
                    <select name="" id="" class="splitter__left full-width">
                        <option value="criticality">Most Critical</option>
                        <option value="criticality">Least Critical</option>
                        <option value="capriciousness">Most Capricious</option>
                        <option value="capriciousness">Lease Capricious</option>
                        <option value="popularity">Most Popular</option>
                        <option value="popularity">Least Popular</option>
                    </select>
                </div>
            </div>
            <br>
            <hr>
            <div view-each-argument="editor_detail.claim.supporting">{{> argument_group }}</div>
            {{> argument_group }}

        </div>
    </div>

    <div class="row__col--1-half">

        <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
        <p class="small text-align-center no-margins">Against</p>

        <div class="js-argument-creation-form">
            {{> new_argument_form }}
        </div>

        <br>

        
        <div class="card bg-color--white text-color--black box">

            <hr>
            <div view-each-argument="editor_detail.claim.opposing">{{> argument_group }}</div>
            {{> argument_group }}

        </div>
    </div>
</div>