<!-- The mini header, preseant for everything but can work differently in each app as it's within ng-app="..." -->
<a class="header__logo" href="/">
	<img src="/images/logo.svg" alt="WikiLogic Logo" width="50">
</a> 
<input class="js-search" type="text">