<div class="editor-nav">
	<div class="nav-sidebar">
		
		<a ng-href="#my-published" id="js-nav-my-published" class="button button--clear button--compact full-width">
			<img src="/icons/white/infinity.svg" class="display-inline icon">
			<span>My Published</span>
		</a>
		<a ng-href="#my-drafts" id="js-nav-my-drafts" class="button button--clear button--compact full-width">
			<img src="/icons/white/pencil.svg" class="display-inline icon">
			<span>My Drafts</span>
		</a>
		<a ng-href="#my-history" class="button button--clear button--compact full-width">
			<img src="/icons/white/media-skip-backward.svg" class="display-inline icon">
			<span>History</span>
		</a>
		<a ng-href="#my-collections" class="button button--clear button--compact full-width">
			<img src="/icons/white/spreadsheet.svg" class="display-inline icon">
			<span>Collections</span>
		</a>
		<a ng-href="#my-watching" class="button button--clear button--compact full-width">
			<img src="/icons/white/eye.svg" class="display-inline icon">
			<span>Watching</span>
		</a>
		<a ng-href="#my-trash" id="js-nav-my-trash" class="button button--clear button--compact full-width">
			<img src="/icons/white/trash.svg" class="display-inline icon">
			<span>Trash</span>
		</a>
	</div>
</div>