<div class="explorer-nav">
	<div class="nav-sidebar">
		<a ng-href="#explore" class="button button--clear button--compact full-width">EXPLORE</a>
		<!--
		<a ng-href="#explore/recent" id="js-nav-recent"><img src="/icons/white/clock.svg"><p>Recent</p></a>
		<a ng-href="#explore/popular" id="js-nav-popular"><img src="/icons/white/graph.svg"><p>Popular</p></a>
		<a ng-href="#explore/influence" id="js-nav-influence"><img src="/icons/white/globe.svg"><p>Influential</p></a>
		<a ng-href="#explore/capricious" id="js-nav-capricious"><img src="/icons/white/fire.svg"><p>Capricious</p></a>
		<a ng-href="#explore/random" id="js-nav-random"><img src="/icons/white/random.svg"><p>Random</p></a>
		-->
	</div>	
</div>