<div class="editor-nav">
	<div class="nav-sidebar">
		
		<a ng-href="#my-published" id="js-nav-my-published" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
			<span>My Published</span>
		</a>
		<a ng-href="#my-drafts" id="js-nav-my-drafts" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
			<span>Edit Drafts</span>
		</a>
		<a ng-href="#my-history" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media-skip-backward"></use></svg>
			<span>History</span>
		</a>
		<a ng-href="#my-collections" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spreadsheet"></use></svg>
			<span>Collections</span>
		</a>
		<a ng-href="#my-watching" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use></svg>
			<span>Watching</span>
		</a>
		<a ng-href="#my-trash" id="js-nav-my-trash" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
			<span>Trash</span>
		</a>
	</div>
</div>