<div class="editor-nav">
	<div class="nav-sidebar">
		
		<a ng-href="#my-published" id="js-nav-my-published" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
			<span>My Published</span>
		</a>
		<a href="/editor" id="js-nav-my-drafts" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
			<span>Edit Drafts</span>
		</a>
		<a ng-href="#my-history" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media-skip-backward"></use></svg>
			<span>History</span>
		</a>
		<a ng-href="#my-collections" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#spreadsheet"></use></svg>
			<span>Collections</span>
		</a>
		<a ng-href="#my-watching" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use></svg>
			<span>Watching</span>
		</a>
		<a ng-href="#my-trash" id="js-nav-my-trash" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
			<span>Trash</span>
		</a>
	</div>
</div>

<div class="explorer-nav">
	<div class="nav-sidebar">
		<a ng-href="#explore" class="button button--clear button--compact full-width">EXPLORE</a>
		<!--
		<a ng-href="#explore/recent" id="js-nav-recent"><img src="/icons/white/clock.svg"><p>Recent</p></a>
		<a ng-href="#explore/popular" id="js-nav-popular"><img src="/icons/white/graph.svg"><p>Popular</p></a>
		<a ng-href="#explore/influence" id="js-nav-influence"><img src="/icons/white/globe.svg"><p>Influential</p></a>
		<a ng-href="#explore/capricious" id="js-nav-capricious"><img src="/icons/white/fire.svg"><p>Capricious</p></a>
		<a ng-href="#explore/random" id="js-nav-random"><img src="/icons/white/random.svg"><p>Random</p></a>
		-->
	</div>	
</div>

<br>
<hr class="hr--zeroed">

<div class="box">
	<a href="/logout" class="btn">Logout</a>,
	<a href="#">Blog</a>,
	<a href="#">Developers</a>,
	<a href="/styleguide">Syleguide</a>, 
	<a href="#">Manual/help</a>	
</div>