<div class="editor-nav">
	<div class="nav-sidebar">

		<a href="/editor" id="js-nav-my-drafts" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
			<span>Editor</span>
		</a>
		<div class="disabled">
		<a ng-href="#my-history" class="button button--clear button--compact full-width">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fork"></use></svg>
			<span>Node Map</span>
		</a>
		</div>
	</div>
</div>

<br>
<hr class="hr--zeroed">

<div class="box">
	<a href="/logout" class="btn">Logout</a>,
	<a href="http://www.wikilogicfoundation.org/blog/" target="_blank">Blog</a>,
	<a href="https://github.com/WikiLogic/WikiLogic">Developers</a>,
	<a href="/styleguide" class="disabled">Syleguide</a>, 
	<a href="#" class="disabled">Manual/help</a>	
</div>