<div class="editor-nav">
	<div class="main-sidebar-nav">

		<button class="main-sidebar-nav__link disabled"
			view-on-click="search.actions.get_most_critical"
			data-search-id="main_results">
			<svg class="main-sidebar-nav__link-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt"></use></svg>
			<span class="main-sidebar-nav__link-text">Critical</span>
		</button>

		<button class="main-sidebar-nav__link disabled"
			view-on-click="search.actions.get_most_capricious"
			data-search-id="main_results">
			<svg class="main-sidebar-nav__link-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fire"></use></svg>
			<span class="main-sidebar-nav__link-text">Capricious</span>
		</button>

		<button class="main-sidebar-nav__link"
			view-on-click="search.actions.get_most_recent"
			data-search-id="main_results">
			<svg class="main-sidebar-nav__link-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use></svg>
			<span class="main-sidebar-nav__link-text">Recent</span>
		</button>

		<a href="/editor" id="js-nav-my-drafts" class="main-sidebar-nav__link">
			<svg class="main-sidebar-nav__link-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
			<span class="main-sidebar-nav__link-text">Editor</span>
		</a>

		<a href="/nodemap" class="main-sidebar-nav__link">
			<svg class="main-sidebar-nav__link-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fork"></use></svg>
			<span class="main-sidebar-nav__link-text">Node Map</span>
		</a>

	</div>
</div>

<br>
<hr class="hr--zeroed">

<div class="box">
	<a href="/logout" class="btn">Logout</a>,
	<a href="http://www.wikilogicfoundation.org/blog/" target="_blank">Blog</a>,
	<a href="https://github.com/WikiLogic/WikiLogic">Developers</a>,
	<a href="/styleguide" class="disabled">Syleguide</a>, 
	<a href="#" class="disabled">Manual/help</a>	
</div>