<!-- This is used to show a claim that's one level up in the network. -->
<p class="full-width small">
    <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
    an argument in which this draft is used in a supporting group</p>