<!-- the results! -->
<div view-each-claim="search.results"
    class="splitter splitter--full-width text-color--white">
    <div class="splitter__left">
        
        <button class="splitter box box--wide"
            view-on-click="state.actions.add_claim_to_working_list"
            data-from-list="search_results"
            view-data-claim-id="claim._id">
            <div class="splitter__left">
                <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg>
            </div>
            <div class="splitter__right">
                <p>{claim.description}</p>
            </div>
        </button>

    </div>
    <div class="splitter__right">
        
        result meta...

    </div>
</div>                    
