{{!-- Yes, there's repetition, but come on - it's tiny! --}}
{{#if loggedIn}}
	<div class="sidebar--footer footer--loggedin">
		<a href="/logout" class="btn">Logout</a>
		<br />
		<br />
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>
	</div>	
{{else}}
	<div class="sidebar--footer footer--loggedout">
		<a href="/signup" class="btn">Signup</a>
		<p>or <a href="/login">Login</a> if you have an account.</p>
		
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>
	</div>	
{{/if}}