<div class="main__head">
	<!-- This might need to eb split out too -->
	<h1>Log in.</h1>
	<p class="learn-more">What is WikiLogic?</p>
</div>

<div class="main__body login-page">

	<div class="login-page__local">	
		<p>Existing users! sign in</p>
		<form action="/login" method="post">
			<input type="text" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
			<input type="submit" value="Log In">
		</form>
	</div>
	<br />
	<div class="login-page__service">
		<a href="/auth/facebook">Facebook</a> 
		<a href="/auth/twitter">Twitter</a> 
		<a href="/auth/google">Google</a>
	</div>

</div>