<div class="sidebar">
	<div class="claim-finder" ng-controller="claimFinderController" ng-include src="'/editor/claimFinder/claimFinder-partial.html'">
		
	</div>
</div> <!-- End of the right sidebar -->