
<!-- <div class="notification-wrap"> -->
<div ng-repeat="alert in alerts.list" ng-include src="'/editor/notifications/notification-partial.html'"></div>



<!-- SEARCH RESULTS
	TODO: These need to show if they're a draft claim, all are mixed together and organised by relevance
	-->

<div ng-repeat="claim in search.results">
	<div class="claim-search-result">
		<p>{{claim.description}}</p> 
		<div class="claim-search-result__btns">
			<div class="btn btn--small b1" ng-click="selectClaim(claim)"><span>select</span><img src="/icons/white/map-marker.svg"></div> 
			<div class="btn btn--small b2"><span>inspect</span><img src="/icons/white/magnifying-glass.svg"></div>
		</div>
	</div>
</div>

<!-- WL news section? -->