<!-- Setting the app-specific controller -->

<div class="sidebar-left__body" ng-controller="EditorNavController">
	
	<a class="logo" href="/">
		<img src="/images/logo.svg" alt="WikiLogic Logo" width="50">
	</a> 
	<form>
		<input class="search" type="text" ng-model="searchInput" ng-change="searchInputChange()">
		<input type="submit" class="inputAddon__button" ng-click="searchInputSubmit()" value="Search" />
	</form>

	<div class="editor-nav">
		<div class="nav-sidebar">
			<h3><a href="#my-profile">YOUR PROFILE</a></h3>
			<a ng-href="#my-published" id="js-nav-my-published"><img src="/icons/white/infinity.svg"><p>My Published</p></a>
			<a ng-href="#new-draft" id="js-nav-new-draft"><img src="/icons/white/plus.svg"><p>New Draft</p></a>
			<a ng-href="#my-drafts" id="js-nav-my-drafts"><img src="/icons/white/pencil.svg"><p>My Drafts</p></a>
			<a ng-href="#my-history"><img src="/icons/white/media-skip-backward.svg"><p>History</p></a>
			<a ng-href="#my-collections"><img src="/icons/white/spreadsheet.svg"><p>Collections</p></a>
			<a ng-href="#my-watching"><img src="/icons/white/eye.svg"><p>Watching</p></a>
			<a ng-href="#my-trash" id="js-nav-my-trash"><img src="/icons/white/trash.svg"><p>Trash</p></a>
		</div>
	</div>
	<div class="explorer-nav">
		<div class="nav-sidebar">
			<h3><a ng-href="#explore">EXPLORE</a></h3>
			<!--
			<a ng-href="#explore/recent" id="js-nav-recent"><img src="/icons/white/clock.svg"><p>Recent</p></a>
			<a ng-href="#explore/popular" id="js-nav-popular"><img src="/icons/white/graph.svg"><p>Popular</p></a>
			<a ng-href="#explore/influence" id="js-nav-influence"><img src="/icons/white/globe.svg"><p>Influential</p></a>
			<a ng-href="#explore/capricious" id="js-nav-capricious"><img src="/icons/white/fire.svg"><p>Capricious</p></a>
			<a ng-href="#explore/random" id="js-nav-random"><img src="/icons/white/random.svg"><p>Random</p></a>
			-->
		</div>	
	</div>
</div>

<div class="sidebar-left__footer">
	<a href="/logout" class="btn">Logout</a>
	<br />
	<br />
	<a href="#">Blog</a>,
	<a href="#">Developers</a>,
	<a href="#">Manual/help</a>	
</div>