<div class="sidebar-left__body">
	{{#unless loggedIn}}
	<p>Quick description</p>
	{{/unless}}

	{{#if loggedIn}}
	<div class="editor-nav">
		<div class="nav-sidebar">
			<h3><a href="/editor">EDITOR</a></h3>
		</div>
	</div>
	<div class="profile-nav">
		<div class="nav-sidebar">
			<h3><a href="/profile">YOUR PROFILE</a></h3>
			<a href="#"><img src="/icons/white/media-skip-backward.svg"><p>History</p></a>
			<a href="#"><img src="/icons/white/spreadsheet.svg"><p>Collections</p></a>
			<a href="#"><img src="/icons/white/eye.svg"><p>Watching</p></a>
		</div>
	</div>
	{{/if}}	

	<!-- This alwayse shows, the other two are for logged in people ONLY! :D -->
	<!-- Important note for a tiny detail, keep the logged out version of this menu small otherwise the scrollbar 
	will appear and it will dip below the sidebar footer which isn't really my jam -->
	<div class="explorer-nav" ng-controller="ListController">
		<div class="nav-sidebar">
			<h3><a href="/">EXPLORER</a></h3>
			<a href="#" ng-click="setListOrderTo('recent')"><img src="/icons/white/clock.svg"><p>Recent</p></a>
			<a href="#" ng-click="setListOrderTo('popular')"><img src="/icons/white/graph.svg"><p>Popular</p></a>
			<a href="#" ng-click="setListOrderTo('influence')"><img src="/icons/white/globe.svg"><p>Influential</p></a>
			<a href="#" ng-click="setListOrderTo('capricious')"><img src="/icons/white/fire.svg"><p>Capricious</p></a>
			<a href="#" ng-click="setListOrderTo('random')"><img src="/icons/white/random.svg"><p>Random</p></a>
		</div>	
	</div>
</div>

<div class="sidebar-left__footer">
	{{#if loggedIn}}
		<a href="/logout" class="btn">Logout</a>
		<br />
		<br />
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>	
	{{else}}
		<a href="/signup" class="btn">Signup</a>
		<p>or <a href="/login">Login</a> if you have an account.</p>
		
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>
	{{/if}}
</div>