<!-- Setting the app-specific controller -->
{{#if loggedIn}}
<div class="sidebar-left__body" ng-controller="EditorNavController">
{{else}}
<div class="sidebar-left__body" ng-controller="ExplorerNavController">
{{/if}}	

	{{#if loggedIn}}
	<div class="editor-nav">
		<div class="nav-sidebar">
			<h3><a href="/editor">EDITOR</a></h3>
			<a ng-href="#" ng-click="navigate('new-draft')" id="js-nav-new-draft"><img src="/icons/white/plus.svg"><p>New Draft</p></a>
			<a ng-href="#" ng-click="navigate('my-drafts')" id="js-nav-my-drafts"><img src="/icons/white/pencil.svg"><p>My Drafts</p></a>
			<a ng-href="#" ng-click="navigate('my-published')" id="js-nav-my-published"><img src="/icons/white/infinity.svg"><p>My Published</p></a>
			<a ng-href="#" ng-click="navigate('my-trash')" id="js-nav-my-trash"><img src="/icons/white/trash.svg"><p>Trash</p></a>
		</div>
	</div>
	<div class="profile-nav">
		<div class="nav-sidebar">
			<h3><a href="/profile">YOUR PROFILE</a></h3>
			<a href="#"><img src="/icons/white/media-skip-backward.svg"><p>History</p></a>
			<a href="#"><img src="/icons/white/spreadsheet.svg"><p>Collections</p></a>
			<a href="#"><img src="/icons/white/eye.svg"><p>Watching</p></a>
		</div>
	</div>
	{{else}}
	<p>Quick description</p>
	{{/if}}	

	<!-- This alwayse shows, the other two are for logged in people ONLY! :D -->
	<div class="explorer-nav">
		<div class="nav-sidebar">
			<h3><a href="/">EXPLORER</a></h3>
			<a href="#" ng-click="navigate('explore:recent')" id="js-nav-recent"><img src="/icons/white/clock.svg"><p>Recent</p></a>
			<a href="#" ng-click="navigate('explore:popular')" id="js-nav-popular"><img src="/icons/white/graph.svg"><p>Popular</p></a>
			<a href="#" ng-click="navigate('explore:influence')" id="js-nav-influence"><img src="/icons/white/globe.svg"><p>Influential</p></a>
			<a href="#" ng-click="navigate('explore:capricious')" id="js-nav-capricious"><img src="/icons/white/fire.svg"><p>Capricious</p></a>
			<a href="#" ng-click="navigate('explore:random')" id="js-nav-random"><img src="/icons/white/random.svg"><p>Random</p></a>
		</div>	
	</div>
</div>

<div class="sidebar-left__footer">
	{{#if loggedIn}}
		<a href="/logout" class="btn">Logout</a>
		<br />
		<br />
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>	
	{{else}}
		<a href="/signup" class="btn">Signup</a>
		<p>or <a href="/login">Login</a> if you have an account.</p>
		
		<a href="#">Blog</a>,
		<a href="#">Developers</a>,
		<a href="#">Manual/help</a>
	{{/if}}
</div>