<h2>splitter</h2>
<p>No media queries, set that on whichever components use this</p>

no link
<div class="splitter">
	<div class="splitter__left">
		<img src="/Static/assets/images/video-icon-1.jpg" alt="">
	</div>
	<div class="splitter__right">
		<p>Serin Faucet Collection (teal color class)</p>
	</div>
</div>

text link
<div class="splitter">
	<div class="splitter__left">
		<img src="/Static/assets/images/video-icon-1.jpg" alt="">
	</div>
	<div class="splitter__right">
		<p><a href="#">Speed Connect Drain<br>Installation (teal link)</a></p>
	</div>
</div>

image link
<div class="splitter">
	<a href="#" class="splitter__left">
		<img src="/Static/assets/images/video-icon-1.jpg" alt="">
	</a>
	<div class="splitter__right">
		<p>Speed Connect Drain<br>Installation (teal link)</p>
	</div>
</div>

The whole media object as a link
<a href="#" class="splitter">
	<div class="splitter__left">
		<img src="/Static/assets/images/video-icon-1.jpg" alt="">
	</div>
	<div class="splitter__right">
		<p>Upgrading Your Bathroom<br>Faucet</p>
	</div>
</a>

<br><br>

<h2>splitter--vertically-centered</h2>
<div class="splitter splitter--v-centered">
	<div class="splitter__left">
		<svg class="line-art" width="57" height="44">
			<use xlink:href="/Static/assets/spritesheets/vector.spritesheet.svg#line-sink"></use>
		</svg>
	</div>
	<div class="splitter__right">
		<p>Single hole mount</p>
	</div>
</div>


<br><br>

<h2>splitter--justify <small>pushing content left and right - vertically centered won't work here</small></h2>
<div class="splitter splitter--justify">
	<div class="splitter__left">
		<p>Left hand content</p>
	</div>
	<div class="splitter__right">
		<p>right hand content</p>
	</div>	
</div>

<br><br>

<h2>splitter--full-width <small>streatching content left and right</small></h2>
<div class="splitter splitter--full-width">
	<div class="splitter__left">
		<p>Left hand content</p>
	</div>
	<div class="splitter__right">
		<p>right hand content</p>
	</div>	
</div>