<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <!-- jQuery 2.1.4 -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <!-- Angular 1.3.15 -->
    <script src="/js/angular.min.js" type="text/javascript"></script>
    <script src="/js/angular-route.min.js" type="text/javascript"></script>

    <!-- <script src="//code.angularjs.org/1.3.15/angular-route.js"></script> -->
</head>
<body>

<div ng-app="Editor" id="editor-app">
    <div class="app-rap">

        {{!-- <div class="header">
            {{> header-content }} 
        </div>--}}

        <div class="sidebar-layout">

            <div class="sidebar-layout__side">
                {{> sidebar-left-content }}
            </div>

            <div class="sidebar-layout__main">

                <div ng-controller="MyProfileController" class="main__head">
                    <!-- This might need to eb split out too -->
                    <h1>The Editor.</h1>
                    <img src="{{user.meta.gravatar}}?s=40" alt="">
                    
                </div>

                <!-- Client side Views / routes set up in editor-app.js -->
                <div class="main__body" ng-view>

                </div>

            </div>

        </div>

    </div> <!-- END of app-rap -->

    <!-- This will hook in and display any search results. It is free to be moved around by any controller for it's needs. It acts kind of like intellisense, but for claims -->
    <div class="searchResultsTip" ng-controller="SearchBoxController" ng-include src="'/editor/searchBox/searchBox-partial.html'">
         
    </div>
    

</div> <!-- END of ng-app="Editor" -->

<!-- Explorer imports -->

<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/navigation/explorerNav-controller.js"></script>
<script src="/explorer/services/searchClaims-service.js"></script>
<!-- <script src="/explorer/services/getUsers-service.js"></script> -->
<!-- <script src="/explorer/services/evaluation-service.js"></script> -->

<!-- Editor imports -->
<script src="/editor/editor-app.js"></script>

<script src="/editor/services/user-service.js"></script>
<script src="/editor/services/draft-service.js"></script>
<script src="/editor/services/claim-service.js"></script>
<script src="/editor/services/searchDrafts-service.js"></script>
<script src="/editor/services/searchClaims-service.js"></script>
<script src="/editor/services/evaluation-service.js"></script>
<script src="/editor/services/alert-service.js"></script>

<script src="/editor/claimFinder/claimFinder-controller.js"></script>

<script src="/editor/draftEditor/newDraft-controller.js"></script>

<script src="/editor/draftEditor/draftEditor-controller.js"></script>
<script src="/editor/draftEditor/draftArgGroup/draftArgGroup-controller.js"></script>
<script src="/editor/draftEditor/draftArgGroup/draftArgReason/draftArgReason-controller.js"></script>

<script src="/editor/claimEditor/claimEditor-controller.js"></script>
<script src="/editor/claimEditor/claimArgGroup/claimArgGroup-controller.js"></script>
<script src="/editor/claimEditor/claimArgGroup/claimArgReason/claimArgReason-controller.js"></script>

<!-- <script src="/editor/argumentEditor/argumentEditor-controller.js"></script> -->
<script src="/editor/searchBox/searchBox-controller.js"></script>

<script src="/editor/userProfile/myProfile-controller.js"></script>

<script src="/editor/lists/myDrafts-controller.js"></script>
<script src="/editor/lists/myPublished-controller.js"></script>
<script src="/editor/lists/myTrash-controller.js"></script>

<script src="/editor/explorer/explorer-controller.js"></script>

<script src="/editor/navigation/editorNav-controller.js"></script>
<!-- <script src="/editor/controllers/editorList-controller.js"></script> -->

<!-- <script src="/js/wikiLogicUIhelpers.js"></script> -->

</body>
</html>