<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
</head>
<body class="form">
	<div class="main__head">
		<!-- This might need to eb split out too -->
		<h1>Log in.</h1>
		<p class="learn-more">What is WikiLogic?</p>
	</div>

	<div class="main__body single-form-page">	
			
		<form class="single-form-page__form" action="/login" method="post">
			<p>Sign in</p>
			<input type="text" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
			<input type="submit" value="Log In">
		</form>
		
		<br />
		<div class="single-form-page__form">
			<a href="/auth/facebook">Facebook</a> 
			<a href="/auth/twitter">Twitter</a> 
			<a href="/auth/google">Google</a>
		</div>
		<br />
		<a href="#">Forgotton your password?</a><br />
		<a href="/">Back to WL</a>

	</div>
</body>
</html>