{{!-- This main layout wraps both the Explorer SPA and the Editor SPA. --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body ng-app>
	
	<div class="mini-header">
		<a class="mini-header__logo" href="/">
			<img src="/images/logo.svg" alt="WikiLogic Logo" width="50">
		</a> 
		<input class="mini-header__search" type="text">
	</div>

	<div class="sidebar">

		<div class="sidebar__body">

			<div class="nav-sidebar">
				<a href="#">Recent</a>
				<a href="#">Popular</a>
				<a href="#">Influential</a>
				<a href="#">Changing</a>
			</div>

			{{#loggedIn}}
				<a href="/profile">profile</a>
				<a href="/logout">logout</a>
				<div class="nav-sidebar nav-sidebar--user">
					<a href="#">History</a>
					<div class="user-nav__collections">
						<a href="#">Collection 1</a>
						<a href="#">Collection 2</a>
						<a href="#">Collection 3</a>
					</div>
					<div class="user-nav__watching">
						<a href="#">Watching 1</a>
						<a href="#">Watching 2</a>
					</div>
				</div>
			{{/loggedIn}}	

		</div>

		<div class="sidebar__footer">
			<a href="#" class="btn">Signup</a>
			<p>or <a href="#">Login</a> if you already have an account</p>
			<hr />
			<a href="#">Blog</a>
			<a href="#">Developers</a>
			<a href="#">Manual/help</a>
		</div>	

	</div>

 	<div class="main">
    	{{{body}}}
    </div>
 

</body>
</html>