/* -------------------------------------- Autosizing Inputs
 * Funky little trick here, the sizer containes a copy of the text
 * and is used to expand the parent.  The input fills the height!
 */
.autosizing-input {
	position:relative;
	&__input {
		position:absolute;
		top:0;
		bottom:0;
		width:100% !important;
		border:0;

		padding:3px 4px 4px 4px;
		height: auto !important;

		white-space: normal;
		resize: none;
		overflow: hidden;
		background-color: transparent !important;

		&:focus {
			box-shadow: none;
			border:none;
			background-color: white !important;
		}
	}
	&__sizer {
		padding:3px 4px 4px 4px;
		color: transparent;
	}
}