.tabs {
	$block: &;
	display: table-row;
	@include light-typography();
	

	&__tab {
		display: table-cell;
		
		background: $grey-1;
		cursor: pointer;
		border-right: 1px solid rgba($WL_Blue, 0.5);
		opacity: 0.8;

		&:last-of-type {
			border-right: 0;
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			opacity: 1;
			background: $grey-2;
		}
	}
	
	&__title {
		display: inline-block;
		padding: $pad;
		padding-right: 0;
	}

	&__x {
		display: inline-block;
		padding: $pad;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}

	&--opposite-dark {
		#{$block} {
			&__tab {
				background: $grey-2;
				&.active {
					opacity: 1;
					background: $grey-1;
				}
			}
		}
	}

	&--light {
		@include dark-typography();

		#{$block} {
			&__tab {
				background: $grey-e;
				&:hover { background: white; }
				&.active { 
					background: white; 
				}
			}
		}
	}

	&--full-width {
		display: table;
		width: 100%;
		text-align: center;
	}
}