.tabs {
	$block: &;
	display: table-row;
	@include light-typography();
	

	&__tab {
		display: table-cell;
		@include box();
		background: $grey-2;
		cursor: pointer;
		border-right: 1px solid $WL_Blue;

		&:last-of-type {
			border-right: 0;
		}

		&:hover {
			background: $grey-1;
		}

		&.active {
			background: $grey-1;	
		}
	}

	&--light {
		@include dark-typography();

		#{$block} {
			&__tab {
				background: $grey-e;
				&:hover { background: white; }
				&.active { 
					background: white; 
				}
			}
		}
	}
}