.toaster {
	background: white;
	@include dark-typography();
	border-radius: 5px;

	//in this world, the bread is the controller
	&__bread {
		border-bottom: 1px solid $WL_Blue;
		@include box();
		cursor: pointer;
		position: relative;
	
		//yes it's nested two levels deep. Are you a slave to the rules that others make up? I'm not.
		&__icon {
			position: absolute;
			right: rem(16);
			top: rem(16);
		}
	}
	
	&__toast {
		@include box();
	}

	//when it's on / expanded, we consider the "toast" to be "toasted"
	&--toasted {

	}
}