$oldIE: false !default;

// Spacing
// ------------------------------------------------------------------------------
$siteWidth: 980px;
$siteSidePadding: 20px;
$sidebarPaddingBottom: 50px;
$pageContentMarginTop: 30px;

// Media Queries
// ------------------------------------------------------------------------------

$breakpoints: (
	tiny: 320px,
	small: 540px,
	medium: 768px,
	wide: 980px,
	superwide: 1200px
);

// Fonts
// ------------------------------------------------------------------------------
$weightSuperLight: 100;
$weightLight: 300;
$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 600;


// Color Defenitions
// ------------------------------------------------------------------------------
//http://chir.ag/projects/name-that-color/


/* shades of grey */
$brightGrey:	#393f4f;
$mirage:		#191e28;

/* colors */

// Color Assignments
// ------------------------------------------------------------------------------
$sidebarBGdark: 	$mirage;
$sidebarBGlight: 	$brightGrey;


// Icons
// ------------------------------------------------------------------------------

$icons: (
	menu: '\e800',
	down-dir: '\e801',
);