$oldIE: false !default;

// Spacing
// ------------------------------------------------------------------------------
$sidebarWidthSmall: 190px;
$sidebarWidthMedium: 270px;

// Media Queries
// ------------------------------------------------------------------------------

$breakpoints: (
	tiny: 320px,
	small: 540px,
	medium: 768px,
	wide: 980px,
	superwide: 1200px
);

// Fonts
// ------------------------------------------------------------------------------
$weightSuperLight: 100;
$weightLight: 300;
$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 600;


// Color Defenitions
// ------------------------------------------------------------------------------
//http://chir.ag/projects/name-that-color/


/* shades of grey */
$gallery:		#eeeeee;
$alto:			#dddddd;
$silver:		#cccccc;
$lightGrey:		#515a70;
$middleGrey:	#393f4f;
$darkGrey:		#191e28;
$darkerGrey:	#15181E;

/* colors */

$Carnation:		#F25454; //Red
$Apple:			#31D332; //Green

// Color Assignments
// ------------------------------------------------------------------------------
$textDark:			$darkerGrey;

$trueGreen:			$Apple;
$falseRed:			$Carnation;

$mainBGclr:			$gallery;
$lightBorderClr:	$alto;
$darkBorderClr:		$middleGrey;
$offWhiteText:		$silver;

$sidebarBGdark: 	$darkGrey;
$sidebarBGlight: 	$middleGrey;
$sidebarLinkClr:	$offWhiteText;

$ButtonClr: 		white;
$ButtonBkg: 		$middleGrey;
$ButtonClr-Hover: 	white;
$ButtonBkg-Hover: 	$lightGrey;



// Icons
// ------------------------------------------------------------------------------

$icons: (
	menu: '\e800',
	down-dir: '\e801',
);