$oldIE: false !default;

// Spacing
// ------------------------------------------------------------------------------
$siteWidth: 980px;
$siteSidePadding: 20px;
$sidebarPaddingBottom: 50px;
$pageContentMarginTop: 30px;

// Media Queries
// ------------------------------------------------------------------------------

$breakpoints: (
	tiny: 320px,
	small: 540px,
	medium: 768px,
	wide: 980px,
	superwide: 1200px
);

// Fonts
// ------------------------------------------------------------------------------
$weightSuperLight: 100;
$weightLight: 300;
$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 600;


// Color Defenitions
// ------------------------------------------------------------------------------
//http://chir.ag/projects/name-that-color/


/* shades of grey */
$offWhiteText:	#cccccc;
$lightGrey:		#515a70;
$middleGrey:	#393f4f;
$darkGrey:		#191e28;
$darkerGrey:	#15181E;

/* colors */

// Color Assignments
// ------------------------------------------------------------------------------
$sidebarBGdark: 	$darkGrey;
$sidebarBGlight: 	$middleGrey;
$sidebarLinkClr:		$offWhiteText;

$ButtonClr: 		white;
$ButtonBkg: 		$middleGrey;
$ButtonClr-Hover: 	white;
$ButtonBkg-Hover: 	$lightGrey;



// Icons
// ------------------------------------------------------------------------------

$icons: (
	menu: '\e800',
	down-dir: '\e801',
);