body {
	font-family: 'Roboto', sans-serif; /* 100 / 300 / 700 */
	font-weight: 300;
	font-size: 14px;
}

h3 {
	margin:0 0 5px 0;
	font-weight:300;
}

a {
	@include transition(0.1s);
	color:#5f9aec;
	&:hover {
		color:white;
	}
}

img {
	display:block;
}

hr {
	background:transparent;
	border:0;
	border-top:1px solid $sidebarBGlight;
}


/* ---------------------------------------- Forms */

input[type=text], textarea {
  @include transition(0.3s);
  outline: none;
  padding: 5px 0px 5px 5px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/* -------------------------------------- Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $middleGrey; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $middleGrey; 
}