body {
	font-family: 'Roboto', sans-serif; /* 100 / 300 / 700 */
	font-weight: 300;
}

a {
	text-decoration: none;
}

img {
	display:block;
}


/* ---------------------------------------- Forms */

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px 0px 5px 5px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}