<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<main id="main" class="box text-color--white">

    <div class="sidebar-layout card bg-color--grey-2">

        <div class="sidebar-layout__side header-layout box">
        
            <div class="header-layout__head">
                <h2 class="line-height--p">Editor</h2>
                <hr>
            </div>

            <div class="header-layout__body y-scroll">
                <div view-hide="state.search.is_empty">
                    <div view-if="state.working_list.is_empty">
                        <h4>Working list</h4>
                        <p>This is a place to keep a refrence to the claims you're interested in. Add them here from the search results.</p>
                    </div>
                </div>

                <button
                    class=""
                    view-each-claim="state.working_list.claims"
                    view-on-click="state.actions.workingListItemClick"
                    view-data-tab-name="claim.description"
                    data-tab-group="editor">
                    <p>{claim.description}</p></button>
                
            </div>

        </div>

        <div class="sidebar-layout__main header-layout">
            <div class="header-layout__head">
                <div class="tabs">
                    <div class="tabs__tab"
                        view-each-tab="state.tabs.editor.tabs"
                        view-on-click="state.actions.activateTab"
                        view-data-tab-name="tab.name"
                        data-tab-group="editor"
                        view-class-active="tab.active">
                        {tab.name}
                    </div>
                    <div class="tabs__tab"  
                        view-show="state.tabs.editor.tempTab.set"
                        view-on-click="state.actions.activateTempTab"
                        view-data-tab-name="state.tabs.editor.tempTab.name"
                        data-tab-group="editor"
                        view-class-active="state.tabs.editor.tempTab.active">
                        <i>{state.tabs.editor.tempTab.name}</i>
                    </div>
                </div>

            </div>
            <div class="header-layout__body y-scroll bg-color--grey-1">

                <!-- The search reults tab content -->
                <div class="box" view-show="state.tabs.editor.results">
                    
                    <div view-show="state.search.is_empty">
                        <!-- if no exact matches, give option to add as new claim -->
                        <h4>No exact match found</h4>
                        <p>Would you like to make one?</p>
                        
                        <div class="card box bg-color--grey-2 text-color--black splitter splitter--full-width">
                            <div class="splitter__left">
                                <textarea name="" id="js-search-term-claim" cols="30" rows="10">{state.search.term}</textarea>
                            </div>
                            <div class="splitter__right">
                                <button class="display-inline-block button button--green"
                                    view-on-click="state.actions.new_claim"
                                    data-claim-el-id="js-search-term-claim">New Claim</button>
                            </div>
                        </div>
                    </div>

                    <!-- the results! -->
                    <div view-each-claim="state.search.results"
                        class="splitter splitter--full-width text-color--white">
                        <div class="splitter__left">
                            
                            <button class="splitter box box--wide"
                                view-on-click="state.actions.add_to_working_list">
                                <div class="splitter__left">
                                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg>
                                </div>
                                <div class="splitter__right">
                                    <p>{claim.description}</p>
                                </div>
                            </button>

                        </div>
                        <div class="splitter__right">
                            
                            result meta...

                        </div>
                    </div>                    

                </div>

                <!-- Current claim tab (claim detail) -->
                <div class="box" view-show="state.tabs.editor.claim_n">
                    <p class="text-align-right">
                        <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                    </p>

                    
                    <div class="row">
                    
                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Supports</p>

                        </div>

                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Opposes</p>

                        </div>
                    </div>


                    <div class="text-color--black">   
                        <!--<p class="full-width text-align-center">
                            <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            draft description blah blah blah
                        </p>-->
                        <textarea name="" class="trumbowyg-claim-input claim-input display-none" cols="30" rows="10"></textarea>
                    </div>
                    

                    <div class="row">
                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">For</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>

                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Against</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>
                    </div>

                </div>

                <!-- The welcome temp tab content -->
                <div class="box" view-show="state.tabs.editor.tempTab.active">

                    <!-- special case -->
                    <div view-show="state.tabs.editor.tempTab.welcome">
                        <h4>Welcome!</h4>
                        <p>To begin - think of something you believe to be true, then type it in the search bar above.
                        For example: <button class="a" view-on-click="state.actions.search_this">the world is flat</button></p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
