<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<div class="y-scroll box text-color--white">

    <!-- <p class="small no-margins">Draft List</p> -->

    <!-- List box -->
    <div class="card bg-color--white box">

        <input type="text" placeholder="Search drafts / write new" class="full-width">

        <br>

        <!-- for each draft -->
        <div class="claim-list-item splitter splitter--full-width box box--5 box--wide">
            <p class="splitter__left">
                <svg class="bump-up-1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
                <a ng-href="#edit-draft/{{draft._id}}">draft.description</a>
            </p>
            <div class="claim-list-item__hover-show splitter__right">
            
                <svg class="icon hover-color--grey-2 cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
                <svg class="icon hover-color--grey-2 cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                <svg class="icon hover-color--red cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
                
            </div>
        </div>

        <div class="claim-list-item splitter splitter--full-width box box--5 box--wide">
            <p class="splitter__left">
                <svg class="bump-up-1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                <a ng-href="#edit-draft/{{draft._id}}">draft.description</a>
            </p>
            <div class="claim-list-item__hover-show splitter__right">
                <svg class="icon hover-color--grey-2 cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
                <svg class="icon hover-color--grey-2 cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                <svg class="icon hover-color--red cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
            </div>
        </div>

    </div>

    <br>
    <hr class="hr--white">

    <!-- <p class="small no-margins">Draft Detail</p> -->


    <div class="row">
        
        <div class="row__col--1-half">
            <div class="card bg-color--white text-color--black box">

                <p class="full-width small">
                    <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                    an argument in which this draft is used in a supporting group</p>

                <hr>

                <p class="full-width small">
                    <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                    an argument in which this draft is used in a supporting group</p>
            
                <hr>

                
            </div>
            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
            <p class="small text-align-center no-margins">Supports</p>

        </div>

        <div class="row__col--1-half">
            <div class="card bg-color--white text-color--black box">

                <p class="full-width small">
                    <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                    an argument in which this draft is used in an opposing group</p>

                <hr>

                <p class="full-width small">
                    <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                    an argument in which this draft is used in an opposing group</p>

                <hr>

                
            </div>
            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
            <p class="small text-align-center no-margins">Opposes</p>

        </div>
    </div>


    <div class="card bg-color--white text-color--black box">   
        <p class="full-width text-align-center">
            <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
            draft description blah blah blah
        </p>
    </div>
    

    <div class="row">
        <div class="row__col--1-half">

            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
            <p class="small text-align-center no-margins">For</p>
            <div class="card bg-color--white text-color--black box">

                <!-- Start argument group -->
                <div class="splitter splitter--full-width">
                    <div class="splitter__left">
                        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>        
                    </div>
                    <div class="splitter__right full-width text-align-left">
                        
                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                    </div>
                </div>
                <br>
                <hr>
                <!-- End argument group -->

                <!-- Start argument group -->
                <div class="splitter splitter--full-width">
                    <div class="splitter__left">
                        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>        
                    </div>
                    <div class="splitter__right full-width text-align-left">
                       
                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                    </div>
                </div>

                <!-- End argument group -->
            </div>
        </div>

        <div class="row__col--1-half">

            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
            <p class="small text-align-center no-margins">Against</p>
            <div class="card bg-color--white text-color--black box">

                <!-- Start argument group -->
                <div class="splitter splitter--full-width">
                    <div class="splitter__left">
                        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>        
                    </div>
                    <div class="splitter__right full-width text-align-left">
                       
                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>


                    </div>
                </div>
                <br>
                
                
                
                <hr>
                <!-- End argument group -->

                <!-- Start argument group -->
                <div class="splitter splitter--full-width">
                    <div class="splitter__left">
                        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>        
                    </div>
                    <div class="splitter__right full-width text-align-left">
                        
                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>

                        <p class="full-width small">
                            <svg class="float-left icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            an argument in this this first supporting group</p>


                    </div>
                </div>

                <!-- End argument group -->
            </div>
        </div>
    </div>

</div>