<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<main id="main" class="box text-color--white">

    <div class="sidebar-layout card bg-color--grey-2">

        <div class="sidebar-layout__side header-layout box">
        
            <div class="header-layout__head">
                <h2 class="line-height--p">Editor</h2>
                <hr>
            </div>

            <div class="header-layout__body y-scroll">
                <div view-hide="state.search.is_empty">
                    <div view-if="state.working_list.is_empty">
                        <h4>Working list</h4>
                        <p>This is a place to keep a refrence to the claims you're interested in. Add them here from the search results.</p>
                    </div>
                </div>

                <button
                    class="display-block full-width box box--wide"
                    view-each-claim="state.working_list.claims"
                    view-on-click="state.actions.set_claim_detail_tab"
                    view-data-index="claim.index">
                    <p class="no-margins">{claim.description}</p></button>
                
            </div>

        </div>

        <div class="sidebar-layout__main header-layout">
            <div class="header-layout__head">
                <div class="tabs">
                    <div class="tabs__tab"
                        view-each-tab="state.tabs.editor.tabs"
                        view-on-click="state.actions.activateTab"
                        view-data-tab-name="tab.name"
                        data-tab-group="editor"
                        view-class-active="tab.active">
                        {tab.name}
                    </div>
                    <div class="tabs__tab"  
                        view-show="state.tabs.editor.tempTab.set"
                        view-on-click="state.actions.activateTempTab"
                        view-data-tab-name="state.tabs.editor.tempTab.name"
                        data-tab-group="editor"
                        view-class-active="state.tabs.editor.tempTab.active">
                        <i>{state.tabs.editor.tempTab.name}</i>
                    </div>
                </div>

            </div>
            <div class="header-layout__body y-scroll bg-color--grey-1">

                <!-- The welcome temp tab content -->
                <div view-show="state.tabs.editor.tempTab.active">
                    <div class="box" view-show="state.tabs.editor.tempTab.welcome">
                        <h4>Welcome!</h4>
                        <p>To begin - think of something you believe to be true, then type it in the search bar above.
                        For example: <button class="a" view-on-click="state.actions.search_this">the world is flat</button></p>    
                    </div>
                </div>


                <!-- The search reults tab content -->
                <div class="box" view-show="state.tabs.editor.results">
                    {{>search_results}}         
                </div>

                <!-- Current claim tab (claim detail) -->
                <div class="box" view-show="state.editor_detail.show">
                    {{>editor_detail}}
                </div>

                
            </div>
        </div>
    </div>
</main>
