<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<main id="main" class="box text-color--white">

    <div class="js-editor-sidebar editor-sidebar card bg-color--grey-2">

        <div class="editor-sidebar__side header-layout bg-color--grey-2">
        
            <div class="header-layout__head box box--tall">
                <div class="splitter line-height--p">
                    <div class="splitter__left">
                        <h2>Editor</h2>
                    </div>
                    <div class="splitter__right">
                        <button class="box js-editor-menu">
                            <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                        </button>
                    </div>
                </div>
            </div>

            <hr class="hr--zeroed">

            <div class="header-layout__body y-scroll js-working-list box"
                data-working-list-id="main_list">

                <button
                    class="display-block full-width box box--wide"
                    view-each-claim="working_list.claims"
                    view-on-click="working_list.actions.clicked"
                    view-data-claim-id="claim._id"
                    data-working-list-id="main_list">
                    <p class="no-margins">{claim.description}</p></button>
                
            </div>

        </div>

        <div class="editor-sidebar__main header-layout">
            <div class="header-layout__head">
                <div class="tabs">
                    <div class="js-editor-menu tabs__tab">
                        <span class="box">
                            <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg>
                        </span>
                    </div>

                    <!-- the help tab -->
                    <div class="tabs__tab js-toggle-controller"
                        data-toggle-id="main_help"
                        view-class-active="toggle.open">
                        <span class="tabs__title"
                            view-on-click="toggle.actions.open_toggle"
                            data-toggle-id="main_help">
                            <span view-show="toggle.open">Help</span>
                            <span view-hide="toggle.open">
                                <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
                                &nbsp;&nbsp;
                            </span>
                        </span>
                        <span class="tabs__x"
                            view-show="toggle.open"
                            view-on-click="toggle.actions.close_toggle"
                            data-toggle-id="main_help">
                            <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                        </span>
                    </div>

                    <!-- the results tab -->
                    <div class="tabs__tab js-toggle-controller"  
                        data-toggle-id="main_results"
                        view-class-active="toggle.open">
                        <span class="tabs__title"
                            view-on-click="toggle.actions.open_toggle"
                            data-toggle-id="main_results">
                            <span view-show="toggle.open">Results</span>
                            <span view-hide="toggle.open">
                                <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#magnifying-glass"></use></svg>
                                &nbsp;&nbsp;
                            </span>
                        </span>
                        <span class="tabs__x"
                            view-show="toggle.open"
                            view-on-click="toggle.actions.close_toggle"
                            data-toggle-id="main_results">
                            <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                        </span>
                    </div>

                    <!-- editor list tabs -->
                    <div class="tabs__tab js-editor-tabs"
                        data-editor-tabs-id="main_tabs"
                        view-each-claimtab="editor_tabs.tab_list"
                        view-class-active="claimtab.open">

                        <span class="tabs__title"
                            view-on-click="editor_tabs.actions.editor_tab_open"
                            data-editor-tabs-id="main_tabs"
                            view-data-claimtab-id="claimtab.claim._id"
                            data-tab-group="editor">{claimtab.claim.description}</span>

                        <span class="tabs__x"
                            view-on-click="editor_tabs.actions.editor_tab_close"
                            data-editor-tabs-id="main_tabs"
                            view-data-claimtab-id="claimtab.claim._id">
                            <svg class="icon icon--10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>
                            
                        </span>
                    </div>

                </div>

            </div>
            <div class="header-layout__body y-scroll bg-color--grey-1 sections-wrap">

                <!-- The main help tab content -->
                <section class="js-toggle-content"
                    data-toggle-id="main_help"
                    view-show="toggle.open">
                    <div class="box text-align-center">
                        <br>

                        <div>
                            <h4>Welcome!</h4>
                            <p>
                                To begin - think of something you believe to be true, <br>
                                then type it in the search bar above.<br>
                                Or just click this fun example<br>
                                <button class="button button--green display-inline-block js-search-suggestion"  
                                        data-search-id="main_results">
                                    the world is flat
                                </button>
                            </p>   
                        </div>
                        <br>
                        <div>
                            <p>Nice. Below you can see a list of claims that have been found, double click/tap to open it. (a single click/tap will add it to your 'working list' on the left)</p>
                        </div> 


                    </div>
                </section>

                <!-- Current claim tab (claim detail) -->
                <section class="box js-editor-tabs-content"
                    data-editor-tabs-id="main_tabs"
                    view-each-claimdetail="editor_details.tab_list"
                    view-show="claimdetail.open">
                    {{>editor_detail}}
                </section>


                <!-- The main search reults -->
                <section class="js-toggle-content"
                    data-toggle-id="main_results"
                    view-show="toggle.open">

                    <div class="js-new-claim box"
                        data-new-claim-id="main_results"
                        data-search-id="main_results"
                        view-show="new_claim.show">
                        <small><i>No exact match was found, click the button to publish this as a new claim.</i></small>
                        {{>new_claim}}
                    </div>

                    <div class="js-search-results box"
                        data-search-id="main_results">
                        {{>search_results}}         
                    </div>

                </section>

                
            </div>
        </div>
    </div>
</main>
