<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<div class="box text-color--white">

    <div class="sidebar-layout card bg-color--grey-2">

        <div class="sidebar-layout__side header-layout box">
        
            <div class="header-layout__head box">
                <p>Editor</p>
            </div>

            <div class="header-layout__body y-scroll">
    
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}
                {{> claim_list_item }}

            </div>

        </div>

        <div class="sidebar-layout__main header-layout">
            <div class="header-layout__head">
                <div class="tabs">
                    <div class="tabs__tab js-tab" 
                        data-tab-name="claim_n" 
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.claim_n">
                        Claim-n
                    </div>
                    <div class="tabs__tab js-tab" 
                        data-tab-name="claim_2" 
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.claim_2">
                        Claim-2
                    </div>
                    <div class="tabs__tab js-tab" 
                        data-tab-name="claim_3" 
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.claim_3">
                        Claim-3
                    </div>
                    <div class="tabs__tab js-tab" 
                        data-tab-name="claim_4" 
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.claim_4">
                        Claim-4
                    </div>
                </div>
            </div>
            <div class="header-layout__body y-scroll bg-color--grey-1">

                <!-- detail view of claim_n -->
                <div class="box" 
                    view-if="state.ui.tabs.editor.claim_n">
                    <p class="text-align-right">
                        <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                        <svg class="icon hover-color--red cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>  
                    </p>

                    
                    <div class="row">
                    
                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Supports</p>

                        </div>

                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Opposes</p>

                        </div>
                    </div>


                    <div class="card bg-color--white text-color--black box">   
                        <p class="full-width text-align-center">
                            <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            draft description blah blah blah
                        </p>
                    </div>
                    

                    <div class="row">
                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">For</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>

                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Against</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
