<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<div class="box text-color--white">

    <div class="sidebar-layout card bg-color--grey-2">

        <div class="sidebar-layout__side header-layout box">
        
            <div class="header-layout__head">
                <h2 class="no-margins pull-up-8">Editor</h2>
                <hr>
            </div>

            <div class="header-layout__body y-scroll">
                
                <p class="no-margins">Working list</p>
                <button
                    class="button--reset"
                    view-on-click="state.actions.addTab"
                    data-tab-name="draft.description"
                    data-tab-group="editor">
                    draft.description</button>

            </div>

        </div>

        <div class="sidebar-layout__main header-layout">

            <div class="header-layout__head">
                <div class="tabs">
                    <div class="tabs__tab js-tab" 
                        data-tab-name="search" 
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.search">
                        Search Results
                    </div>
                    <div class="tabs__tab js-tab"  
                        view-each-tab="state.ui.tabs.editor.tabs"
                        view-data-tab-name="tab"
                        data-tab-group="editor"
                        view-class-active="tab.active">
                        {tab.name}
                    </div>
                    <div class="tabs__tab js-tab"  
                        view-show="state.ui.tabs.editor.tempTab.set"
                        view-data-tab-name="state.ui.tabs.editor.tempTab.name"
                        data-tab-group="editor"
                        view-class-active="state.ui.tabs.editor.tempTab.active">
                        <i>{state.ui.tabs.editor.tempTab.name}</i>
                    </div>
                </div>
            </div>

            <div class="header-layout__body y-scroll bg-color--grey-1">

                <div class="box" view-if="state.ui.tabs.editor.search">
                    
                    

                </div>

                <!-- detail view of claim_n -->
                <div class="box" view-if="state.ui.tabs.editor.claim_n">
                    <p class="text-align-right">
                        <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                    </p>

                    
                    <div class="row">
                    
                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Supports</p>

                        </div>

                        <div class="row__col--1-half">
                            <div class="card bg-color--white text-color--black box">

                                {{> referencing_claim }}
                                <hr>

                                {{> referencing_claim }}
                                <hr>
                                
                            </div>
                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Opposes</p>

                        </div>
                    </div>


                    <div class="text-color--black">   
                        <!--<p class="full-width text-align-center">
                            <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                            draft description blah blah blah
                        </p>-->
                        <textarea name="" class="trumbowyg-claim-input claim-input display-none" cols="30" rows="10"></textarea>
                    </div>
                    

                    <div class="row">
                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">For</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>

                        <div class="row__col--1-half">

                            <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                            <p class="small text-align-center no-margins">Against</p>
                            <div class="card bg-color--white text-color--black box">

                                {{> argument_group }}
                                {{> argument_group }}

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
