<!-- This is the 'drafts' view. Everything to do with looking at you rlist of drafts, changing them and making new ones is held here -->

<div class="y-scroll box text-color--white">

    <div class="box">

        <div class="tabs tabs--light">
            <div class="tabs__tab js-tab active" 
                data-tab-name="draft_list" 
                data-tab-group="editor"
                view-class-active="state.ui.tabs.editor.draft_list">
                My Drafts
            </div>
            <div class="tabs__tab js-tab" 
                data-tab-name="claim_n" 
                data-tab-group="editor"
                view-class-active="state.ui.tabs.editor.claim_n">
                Claim-n
            </div>
        </div>



        <!-- List of my drafts -->
        <div class="card bg-color--white box"
            view-if="state.ui.tabs.editor.draft_list">

            <input type="text" placeholder="Search drafts / write new" class="full-width">
            <br>
            {{> claim_list_item }}
            {{> claim_list_item }}
            {{> claim_list_item }}
            {{> claim_list_item }}
            {{> claim_list_item }}

        </div>

        <!-- detail view of claim_n -->
        <div view-if="state.ui.tabs.editor.claim_n">
            
            
            <div class="row">
            
                <div class="row__col--1-half">
                    <div class="card bg-color--white text-color--black box">

                        {{> referencing_claim }}
                        <hr>

                        {{> referencing_claim }}
                        <hr>
                        
                    </div>
                    <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                    <p class="small text-align-center no-margins">Supports</p>

                </div>

                <div class="row__col--1-half">
                    <div class="card bg-color--white text-color--black box">

                        {{> referencing_claim }}
                        <hr>

                        {{> referencing_claim }}
                        <hr>
                        
                    </div>
                    <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                    <p class="small text-align-center no-margins">Opposes</p>

                </div>
            </div>


            <div class="card bg-color--white text-color--black box">   
                <p class="full-width text-align-center">
                    <svg class="float-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#x"></use></svg>&nbsp;
                    draft description blah blah blah
                </p>
            </div>
            

            <div class="row">
                <div class="row__col--1-half">

                    <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                    <p class="small text-align-center no-margins">For</p>
                    <div class="card bg-color--white text-color--black box">

                        {{> argument_group }}
                        {{> argument_group }}

                    </div>
                </div>

                <div class="row__col--1-half">

                    <svg class="align-center icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-top"></use></svg>
                    <p class="small text-align-center no-margins">Against</p>
                    <div class="card bg-color--white text-color--black box">

                        {{> argument_group }}
                        {{> argument_group }}

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>