<div class="bg-pattern header-layout">

    <div class="header-layout__head search-form bg-color--grey-1">
        
        <svg class="icon icon--60"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wl"></use></svg>
        
        <input class="js-search" type="text" placeholder="Search WL">
    </div>

    <div class="header-layout__body sidebar-layout">

        <div ng-controller="EditorNavController" class="sidebar-layout__side y-scroll bg-color--grey-1">

            <hr>

            <div class="text-center">
                <a href="#my-profile" class="border user-icon display-inline-block">
                    <img src="{{user.meta.gravatar}}?s=80" alt="your profile" class="display-block">
                </a>
                <p>Iain J McCallum</p>
            </div>

            <hr>

            {{> nav-editor }}

            <br>
            
            {{> nav-explorer }}

            <br>
            <hr class="hr--zeroed">

            <div class="box">
                {{> nav-utility }}
            </div>
        </div>

        <div class="sidebar-layout__main y-scroll box" ng-view>
             

        </div>

    </div>


    <!-- This will hook in and display any search results. It is free to be moved around by any controller for it's needs. It acts kind of like intellisense, but for claims -->
    <div class="searchResultsTip card bg-color--grey-1 box box--5" ng-controller="SearchBoxController" ng-include src="'/editor/searchBox/searchBox-partial.html'">
         
    </div>
    

</div>

