
	<div class="card card--500 box bg-color--grey-1">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="logo logo--white logo--200 align-center">
			<path fill="white" d="M245.812,152.105c-0.522-0.521-0.798-1.595-0.83-3.223c-0.034-1.626,0.244-2.767,0.83-3.418
			c10.938,0.261,18.196,0.391,21.777,0.391c3.711,0,9.57-0.13,17.578-0.391c0.65,0.651,0.977,1.774,0.977,3.369
			c0,1.596-0.327,2.686-0.977,3.271c-2.995,0.327-5.566,0.977-7.715,1.953s-3.972,2.458-5.469,4.443
			c-1.499,1.987-2.637,3.745-3.418,5.273c-0.781,1.53-1.792,3.825-3.027,6.885l-68.145,167.376c-1.172,3.06-2.768,4.622-4.785,4.688
			c-1.889,0-3.418-1.562-4.59-4.688l-64.156-166.3c-2.866-7.356-5.258-12.109-7.178-14.258c-1.921-2.148-5.518-3.45-10.791-3.906
			c-0.651-0.65-0.977-1.758-0.977-3.32s0.259-2.669,0.781-3.32c8.789,0.261,15.723,0.391,20.801,0.391
			c5.469,0,13.541-0.13,24.219-0.391c0.521,0.651,0.781,1.774,0.781,3.369c0,1.596-0.261,2.686-0.781,3.271
			c-6.706,0.717-10.678,2.067-11.914,4.053c-1.237,1.987-0.651,5.942,1.758,11.865l56.539,145.402h0.977l58.282-145.598
			c2.539-5.469,3.14-9.57,1.807-12.305C256.831,154.253,252.712,152.627,245.812,152.105z"/> 

			<path fill="white" d="M309.812,151.105c-0.522-0.521-0.798-1.595-0.83-3.223c-0.034-1.626,0.244-2.767,0.83-3.418
			c10.938,0.261,18.196,0.391,21.777,0.391c3.711,0,40.425-0.13,48.433-0.391c0.65,0.651,0.977,1.774,0.977,3.369
			c0,1.596-0.327,2.686-0.977,3.271c-2.995,0.327-33.023-0.701-38.57,1.953c-2.129,1.019-3.972,2.458-5.469,4.443
			c-1.499,1.987-2.637,3.745-3.418,5.273c-0.781,1.53-1.792,3.825-3.027,6.885l-68.145,167.376c-1.172,3.06-2.768,4.622-4.785,4.688
			c-1.889,0-3.418-1.562-4.59-4.688l-64.156-166.3c-2.866-7.356-5.258-12.109-7.178-14.258c-1.921-2.148-5.518-3.45-10.791-3.906
			c-0.651-0.65-0.977-1.758-0.977-3.32s0.259-2.669,0.781-3.32c8.789,0.261,15.723,0.391,20.801,0.391
			c5.469,0,13.541-0.13,24.219-0.391c0.521,0.651,0.781,1.774,0.781,3.369c0,1.596-0.261,2.686-0.781,3.271
			c-6.706,0.717-10.678,2.067-11.914,4.053c-1.237,1.987-0.651,5.942,1.758,11.865l56.539,145.402h0.977l58.282-145.598
			c2.539-5.469,3.14-9.57,1.807-12.305C320.831,153.253,316.712,151.627,309.812,151.105z"/> 

			<path fill="white" d="M350.832,147.904c-0.098,1.27,29.645,2.81,29.19,3.201l-6.586,0.267c-3.972,0.391-5.927,0.743-7.815,2.175
			c-1.889,1.433-3.529,3.796-4.613,6.543l-70.182,164.469c-0.41,1.012-0.642,1.814-0.577,2.596c0,2.279,1.032,4.11,2.334,5.412
			c1.302,1.303,3.125,1.953,5.469,1.953h61.973c11.588,0,21.387-8.724,29.395-26.172c2.278-0.521,4.166-0.064,5.664,1.367
			c-5.469,13.607-9.343,23.609-11.621,32.008c-11.719-0.261-19.304-0.391-22.754-0.391h-80.625c-3.972,0-11.431,0.13-23.475,0.391
			c-0.391-0.911-1.07-2.002-0.939-3.271c0.13-1.27,0.391-2.1,0.781-2.49l6.142,0.037c3.971-0.391,6.008-0.925,7.897-2.357
			c1.888-1.432,3.447-3.674,4.613-6.543l73.853-175.127L350.832,147.904z"/>
		</svg>
		
		<form action="/login" method="post">
			<input type="text" name="email" placeholder="email" class="full-width">
			<br>
			<input type="password" name="password" placeholder="password" class="full-width">
		</form>

		<br>
		<hr>
		<div class="row">
			<div class="row__col--1-half@small">
				<button class="button full-width text-align-center">Login</button>
			</div>
			<div class="row__col--1-half@small">
				<button class="button full-width text-align-center">Signup</button>
			</div>
		</div>

<!--
		<div>
			<a href="/auth/facebook">Facebook</a> 
			<a href="/auth/twitter">Twitter</a> 
			<a href="/auth/google">Google</a>
		</div><button class="button--red full-width">Forgotton your password?</button>
-->	

		
	</div>