<div class="box">
	<div class="card bg-color--white">

		<div class="tabs tabs--light">
			<div class="tabs__tab js-tab active box" 
				data-tab-name="profile" 
				data-tab-group="profile"
				view-class-active="tabstate.open">
				Profile
			</div>
			<div class="tabs__tab js-tab box" 
				data-tab-name="settings" 
				data-tab-group="profile"
				view-class-active="tabstate.open">
				Settings
			</div>
		</div>

	</div>
	
	<br>
<div class="disabled">
	<div class="card bg-color--white box js-tab-content"
		data-tab-name="settings" 
		data-tab-group="profile"
		view-show="tabstate.open">
		<h3>Settings</h3>

		<h4>Interface</h4>
		<label>Color scheme</label><br>

		<br>
		<hr>

		<h4>Alerts</h4>

		<table>
			<tr>
				<td><label>Enabled</label></td>
				<td><input type="checkbox" name=""></td>
			</tr>
			<tr>
				<td><label>Level</label></td>
				<td><input type="range" name=""></td>
			</tr>
			<tr>
				<td><label>Duration</label></td>
				<td><input type="range" name=""></td>
			</tr>
		</table>
	</div>

	<div class="card bg-color--white box js-tab-content"
		data-tab-name="profile" 
		data-tab-group="profile"
		view-show="tabstate.open">
		<h3>Profile</h3>

	</div>
</div>
</div>