
<div class="box">

	<h1 class="text-color--white">WikiLogic Styleguide</h1>
	<p class="text-color--white">These are the classes you are looking for</p>

	<hr class="hr--white">

	<div class="card bg-color--white box">
		<p>claim list item</p>
		<div class="claim-list-item splitter splitter--full-width box box--5 box--wide">
            
            <a class="splitter__left">
                <svg class="bump-up-1 color--black"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
                draft.description
            </a>
            
            <div class="claim-list-item__hover-show splitter__right text-color--black">
            
                <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use></svg>
                <svg class="icon hover-color--blue cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud-upload"></use></svg>
                <svg class="icon hover-color--red cursor-pointer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash"></use></svg>
                
            </div>
        </div>
    </div>

	<br>
	<hr class="hr--white">

	<div class="row">
		<div class="row__col--1-third box bg-color--red">$WL_Red</div>
		<div class="row__col--1-third box bg-color--blue">$WL_Blue</div>
		<div class="row__col--1-third box bg-color--green">$WL_Green</div>
	</div>

	<div class="row">
		<div class="row__col--1-third box bg-pattern--red">$WL_Red</div>
		<div class="row__col--1-third box bg-pattern">$WL_Blue</div>
		<div class="row__col--1-third box bg-pattern--green">$WL_Green</div>
	</div>

	<br>

	<div class="row">
		<div class="row__col--1-half box bg-color--white">white</div>
		<div class="row__col--1-half box bg-color--grey-1">$grey-1</div>	

		<div class="row__col--1-half box bg-color--grey-e">$grey-e</div>
		<div class="row__col--1-half box bg-color--grey-2">$grey-2</div>	

		<div class="row__col--1-half box bg-color--grey-d">$grey-d</div>
		<div class="row__col--1-half box bg-color--grey-3">$grey-3</div>	

		<div class="row__col--1-half box bg-color--grey-c">$grey-c</div>
		<div class="row__col--1-half box bg-color--grey-4">$grey-4</div>	

		<div class="row__col--1-half box bg-color--grey-b">$grey-b</div>
		<div class="row__col--1-half box bg-color--grey-5">$grey-5</div>	

		<div class="row__col--1-half box bg-color--grey-a">$grey-a</div>
		<div class="row__col--1-half box bg-color--grey-6">$grey-6</div>	
	</div>
	
	<br>
	<hr class="hr--white">
	<p class="text-color--white">Typography</p>

	<div class="row">

		<div class="row__col--1-half">
			<div class="card box bg-color--white">
				<h2>Typography</h2>
				<hr>
				<h1>Page Heading, h1</h1>
				<h2>Section Heading, h2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
				<p>Paragraph text. Et mazim tamquam eligendi usu. Justo etiam impetus ne mea, te mel epicuri platonem, cum dico scripserit ea. Malis assum sapientem id eum, id mei aliquip labitur cotidieque. Sonet vivendum torquatos vix ex. Cibo neglegentur eu nec. Ius solet graeci ut. Ad sale inciderint his.</p>
				<p>plain, <a href="#">link</a>, <i>italic</i>, <b>bold</b>, <i><b>bold italic</b></i></p>
				<p><small>plain, <a href="#">link</a>, <i>italic</i>, <b>bold</b>, <i><b>bold italic</b></i></small></p>
				<ul>
					<li>Default list</li>
					<li>Default list</li>
					<li>Default list</li>
				</ul>
			</div>
		</div>

		<div class="row__col--1-half">
			<div class="card box bg-color--black">
				<h2>Typography</h2>
				<hr>
				<h1>Page Heading, h1</h1>
				<h2>Section Heading, h2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
				<p>Paragraph text. Et mazim tamquam eligendi usu. Justo etiam impetus ne mea, te mel epicuri platonem, cum dico scripserit ea. Malis assum sapientem id eum, id mei aliquip labitur cotidieque. Sonet vivendum torquatos vix ex. Cibo neglegentur eu nec. Ius solet graeci ut. Ad sale inciderint his.</p>
				<p>plain, <a href="#">link</a>, <i>italic</i>, <b>bold</b>, <i><b>bold italic</b></i></p>
				<p><small>plain, <a href="#">link</a>, <i>italic</i>, <b>bold</b>, <i><b>bold italic</b></i></small></p>
				<ul>
					<li>Default list</li>
					<li>Default list</li>
					<li>Default list</li>
				</ul>
			</div>
		</div>

	</div>

	

	<br>

	<div class="card box bg-color--white">
		<h2>Form Elements</h2>
		<hr>
		<div class="row">
			<div class="col col--50 box">
				<p>Independant form elements, <br>
				auto width / width determined by component</p>
				<p><input type="text"></p>
				<p><input type="password"></p>
				<p><select name="select">
					<option value="One">One</option>
					<option value="Two">Two</option>
					<option value="Three">Three</option>
					<option value="Four">Four</option>
				</select></p>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<p><button>button</button></p>
			</div>
			<div class="col col--50 box">
				<p>Within a form width 100%</p>
				<form action="">
					<p><input type="text"></p>
					<p><input type="password"></p>
					<p><select name="select">
						<option value="One">One</option>
						<option value="Two">Two</option>
						<option value="Three">Three</option>
						<option value="Four">Four</option>
					</select></p>
					<p><textarea name="" id="" cols="30" rows="10"></textarea></p>
					<p><button>button</button></p>
				</form>
			</div>
		</div>
	</div>

	<br>

	<div class="card box bg-color--white">
		<h2>Backgrounds</h2>
		<hr>
		<div class="flex-row">
			<div class="col box bg-color--grey-1">
				<p>.bg-color--grey-1</p>
				<div class="box bg-color--white">.bg-color--white</div>
			</div>
			<div class="col box bg-pattern">.bg-pattern</div>
			<div class="col box bg-pattern--red">.bg-pattern--red</div>
			<div class="col box bg-pattern--green">.bg-pattern--green</div>
		</div>
	</div>

	<br>

	<div class="card box bg-color--white">
		<h2>Buttons</h2>
		<hr>
		<div class="flex-row box text-center">
			<div class="col">
				<button>.button / button</button>
			</div>
			<div class="col">
				<button class="button--green">.button--green</button>
			</div>
			<div class="col">
				<button class="button--red">.button--red</button>
			</div>
		</div>
		<div class="flex-row bg-color--grey-1 box text-center">
			<div class="col">
				<button>.button / button</button>
			</div>
			<div class="col">
				<button class="button--green">.button--green</button>
			</div>
			<div class="col">
				<button class="button--red">.button--red</button>
			</div>
		</div>
	</div>

	<br>

	<div class="card box bg-color--white">

		<h2>Layouts</h2>
		<hr>
		<h3>.header-layout</h3>
		<div class="header-layout">
			<div class="header-layout__head box border">
				<p>.header-layout__head</p>
			</div>
			<div class="header-layout__body box border">
				<p>.header-layout__body</p>
				<br>
				<h3>.sidebar-layout</h3>
				<div class="sidebar-layout">
					<div class="sidebar-layout__side box border">
						<p>.sidebar-layout__side</p>
					</div>
					<div class="sidebar-layout__main box border">
						<p>.sidebar-layout__main</p>	
					</div>
				</div>
				<br>
				<h3>.flex-row</h3>
				<div class="flex-row">
					<div class="col border"><p>.col</p></div>
					<div class="col border"><p>.col</p></div>
					<div class="col border"><p>can have an arbritery number of cols.</p></div>
					<div class="col border"><p>They will adapt.</p></div>
				</div>
				<br>
				<h3>.row</h3>
				<p>More tranditional columns, defined by %, 90, 80, 75, 70, 50, 30, 25, 20, 10</p>
				<div class="row">
					<div class="col col--50 border box">.col.col--50</div>
					<div class="col col--20 border box">.col.col--20</div>
					<div class="col col--10 border box">.col.col--10</div>
					<div class="col col--10 border box">.col.col--10</div>
					<div class="col col--10 border box">.col.col--10</div>
				</div>
				<br>
				<h3>.splitter</h3>
				<div class="splitter">
					<div class="splitter__left box border"><p>.splitter__left</p></div>
					<div class="splitter__right box border"><p>.splitter__right</p></div>
				</div>
				<br>
				<p>.splitter .splitter--full-width</p>
				<div class="splitter splitter--full-width">
					<div class="splitter__left box border"><p>.splitter__left</p></div>
					<div class="splitter__right box border"><p>.splitter__right</p></div>
				</div>

			</div>
		</div>

	</div>
</div>