.full-width { width: 100%; }

.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
.display-block { display: block; }

.align-center { margin: 0 auto; }
.v-align-top.v-align-top.v-align-top { vertical-align: top; }

.y-scroll { overflow-y: auto; }