.status {
	width: rem(30);

	&__title {
		text-align: center;
		width: 100%;
		font-size: rem(12);
		display: block;
	}

	&__bar {
		height: 8px;
		width: 100%;
		background-color: darken($WL_Red, 20%);
		position: relative;
		display: block;
		&:before {
			display:block;
			content: " ";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-color: $WL_Green;
		}	
	}

	@for $i from 0 through 100 {
		&--#{$i} { 
			.status__bar:before { 
				width: #{$i + "%"}; 
			}
		}
	}
}