/* The logo and Search box.
When the user clicks in the search, it should expand to fill the full width of the screen.
For smaller devices it should already be the full width and also show the toggle nav button.
For larger screens, when the sidebar is small, when the user types beyond the width the mini-header 
should expand to full screen width and push the main content down (or 'hover' over it?)
============================*/
.mini-header {
  perspective: 1000px;
  background: #393f4f;
  &__logo {
    display:inline-block;
    vertical-align: middle;
    width:50px;
    height:50px;
    background: url(data:image/svg+xml;utf8,$svg-logo);
  }
  &__search {
    position: absolute;
    left: 60px;
    top: 11px;
    width: 200px;
    height:28px;
    z-index: 20;
    border:0;
    border-radius: 15px;
    &:focus {
      transform: translateZ(10px);
      left: 5%;
      width: 90%;
    }
  }
}

@include breakpoint(medium) { 
  .mini-header {
    position:absolute; top:0; left:0; //stops it from bumping the main content down
    width: 270px;
  } 
}