.nav-sidebar {
	padding-bottom: 20px;

	a {
		transition:none;
		display: block;
		color: white;
		padding: 6px 10px;
		margin: 1px 0px;
		border-radius: 4px;
		text-decoration: none;
		&:hover {
			background-color: $sidebarBGlight;
		}
	}
}