/* =====================================================
=======================================   Mobile and up
======================================================*/

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height:100%;
  background: $mainBGclr;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.app-rap {
  display: flex;
  flex-direction: column;
  height:100vh;
  overflow-y: hidden; /* scroll bar appearing - shouldn't, why scrollbar! why! */

  .header {
    @include darkSection();
    min-height:50px;
    &__logo {
      display:inline-block;
      vertical-align: middle;
    }
    &__search {
      display:inline-block;
      vertical-align: middle;
    }
  }
  
  .body {
    display: flex;
    flex-grow: 1;

    .sidebar-left {
      display: flex;
      flex-direction: column;
      @include darkSection();
      &__body {
        flex-grow: 1;
        overflow-y: scroll;
        padding:10px;
      }
      &__footer {
        text-align: center;
        padding:10px;
      }
    }
    .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      @include lightSection();
      overflow-y: scroll;
      &__head {
        padding:20px;  
            
      }
      &__body {
        padding:20px;
      } 
    }
    .sidebar-right {
      display: flex;
      flex-direction: column;
    }
  }

  .footer {

  }
}

/* =====================================================
=======================================   Tablet and up
======================================================*/

@include breakpoint(medium) { 

  .main {

  }
}