
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  background: #191e28;
}
.search {
  position: relative;
  height: 94px;
  width:100%;
  margin-bottom: 22px;
  background: #393f4f;
  z-index: 20;
}

.main {
  margin-left: 270px;
}