<div ng-app="Editor" class="app-rap">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
	<div class="header">
		{{> header-content }} 
	</div>

	<div class="body">

		<div class="sidebar-left">
			{{> sidebar-left-content }}
		</div>

		<div class="main editor">

			<div ng-controller="MyProfileController" class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Editor.</h1>
				<img src="{{user.meta.gravatar}}?s=40" alt="">
				
			</div>

			<!-- Client side Views / routes set up in editor-app.js -->
			<div class="main__body" ng-view>

			</div>

		</div>

		<div class="sidebar-right">
			
		</div>

	</div>

	<div class="footer">
		
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Import angular app scripts here -->
<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/controllers/explorerNav-controller.js"></script>
<script src="/explorer/services/getClaims-service.js"></script>
<script src="/explorer/services/getUsers-service.js"></script>

<!-- Editor app extends the Explorer app, so it all loads in second -->
<script src="/editor/editor-app.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/services/myData-service.js"></script>
<script src="/editor/services/notification-service.js"></script>
<script src="/editor/controllers/newDraft-controller.js"></script>
<script src="/editor/controllers/draftEditor-controller.js"></script>
<script src="/editor/controllers/myProfile-controller.js"></script>
<script src="/editor/controllers/myDrafts-controller.js"></script>
<script src="/editor/controllers/myPublished-controller.js"></script>
<script src="/editor/controllers/myTrash-controller.js"></script>
<script src="/editor/controllers/editorNav-controller.js"></script>
<!-- <script src="/editor/controllers/editorList-controller.js"></script> -->