<div ng-app="Editor" id="editor-app">
	<div class="app-rap">

		{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
		<div class="header">
			{{> header-content }} 
		</div>

		<div class="body">

			<div class="sidebar-left">
				{{> sidebar-left-content }}
			</div>

			<div class="main editor">

				<div ng-controller="MyProfileController" class="main__head">
					<!-- This might need to eb split out too -->
					<h1>The Editor.</h1>
					<img src="{{user.meta.gravatar}}?s=40" alt="">
					
				</div>

				<!-- Client side Views / routes set up in editor-app.js -->
				<div class="main__body" ng-view>

				</div>

			</div>

			<div class="sidebar-right">
				
			</div>

		</div>

		<div class="footer">
			
		</div>

	</div> <!-- END of app-rap -->

	<!-- This is outside app-rap so it can do the fancy swing in thing -->
	<div class="claim-finder" ng-controller="claimFinderController" ng-include src="'/editor/claimFinder/claimFinder-partial.html'">
		
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Explorer imports -->

<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/navigation/explorerNav-controller.js"></script>
<script src="/explorer/services/getClaims-service.js"></script>
<script src="/explorer/services/getUsers-service.js"></script>
<script src="/explorer/services/evaluation-service.js"></script>

<!-- Editor imports -->
<script src="/editor/editor-app.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/services/myData-service.js"></script>
<script src="/editor/services/notification-service.js"></script>

<script src="/editor/claimFinder/claimFinder-controller.js"></script>

<script src="/editor/draftEditor/newDraft-controller.js"></script>
<script src="/editor/draftEditor/draftEditor-controller.js"></script>
<script src="/editor/claimEditor/claimEditor-controller.js"></script>
<script src="/editor/argumentEditor/argumentEditor-controller.js"></script>

<script src="/editor/userProfile/myProfile-controller.js"></script>

<script src="/editor/lists/myDrafts-controller.js"></script>
<script src="/editor/lists/myPublished-controller.js"></script>
<script src="/editor/lists/myTrash-controller.js"></script>

<script src="/editor/navigation/editorNav-controller.js"></script>
<!-- <script src="/editor/controllers/editorList-controller.js"></script> -->