<div ng-app="Editor">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
	{{> mini-header }} 
	{{> main-sidebar }} 
	{{> footer-sidebar }}

	
	<div class="main">
		<div class="editor">

			<div ng-controller="MyProfileController" class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Editor.</h1>
				<img src="{{user.meta.gravatar}}?s=40" alt="">
				
			</div>

			<div class="main__body">

				<!-- The creat new claim component. -->
				<div ng-controller="NewClaimController"> <!-- can't have controller and include on one div :( -->
					<div ng-include src="'/partials/newClaim-partial.html'"></div>
				</div>

				<!-- Draft claim editor -->
				<div class="draft-claim-editor">
					
					<div class="draft-claim-editor__claim">
						<!-- if draft then contentEditable -->
						<h1 contentEditable="true">Main claim here</h1>
					</div>

					<div class="draft-claim-editor__args-row">
						<div class="draft-claim-editor__args-row__for-column">
							<div class="draft-claim-editor__args-row__column-title">
								<h3>For</h3>
								<div class="btn btn--small">Add argument</div>
							</div>

							<div ng-include src="'/partials/argument-partial.html'"></div>
							<div ng-include src="'/partials/argument-partial.html'"></div>							

						</div>

						<div class="draft-claim-editor__args-row__spacer-column"></div>
						
						<div class="draft-claim-editor__args-row__against-column">
							<div class="draft-claim-editor__args-row__column-title">
								<h3>Against</h3>
								<div class="btn btn--small">Add argument</div>
							</div>
							
							<div ng-include src="'/partials/argument-partial.html'"></div>
							<div ng-include src="'/partials/argument-partial.html'"></div>		

						</div>
					</div>
				</div>

				<!-- List my claims in progress -->
				<div ng-controller="MyDraftsController">
					<div class="draft-list-title">
						<h3>My claims in progress</h3>
					</div>
					<div ng-repeat="claim in user.meta.unPublished" ng-include src="'/partials/claimDraft-partial.html'"></div>
				</div>

				<!-- List my published claims -->
				<div ng-controller="MyClaimsController">
					<div class="published-list-title">
						<h3>My published claims</h3>
					</div>
					<div ng-repeat="claim in user.meta.published" ng-include src="'/partials/claimPreview-partial.html'"></div>
				</div>

				<!-- List my deleted drafts -->
				<div ng-controller="MyTrashController">
					<div class="deleted-list-title">
						<h3>Deleted drafts</h3>
					</div>
					<div ng-repeat="claim in user.meta.trashed" ng-include src="'/partials/claimDraft-partial.html'"></div>
				</div>

			</div>

		</div>
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Import angular app scripts here -->
<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/services/getClaims-service.js"></script>
<script src="/explorer/services/getUsers-service.js"></script>

<!-- Editor app extends the Explorer app, so it all loads in second -->
<script src="/editor/editor-app.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/services/myData-service.js"></script>
<script src="/editor/controllers/newClaim-controller.js"></script>
<script src="/editor/controllers/myProfile-controller.js"></script>
<script src="/editor/controllers/myDrafts-controller.js"></script>
<script src="/editor/controllers/myClaims-controller.js"></script>
<script src="/editor/controllers/myTrash-controller.js"></script>
<script src="/editor/controllers/editorList-controller.js"></script>