<div ng-app="Editor">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
	{{> mini-header }} 
	{{> main-sidebar }} 
	{{> footer-sidebar }}

	
	<div class="main">
		<div class="editor">

			<div ng-controller="MyProfileController" class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Editor.</h1>
				<div class="profile-small">
					<img src="{{user.meta.gravatar}}" alt="">
					<p class="profile-small__alias">{{user.meta.alias}}</p>
				</div>
			</div>

			<div class="main__body">

				<!-- The creat new claim component. -->
				<div ng-controller="NewClaimController"> <!-- can't have controller and include on one div :( -->
					<div ng-include src="'/partials/newClaim-partial.html'"></div>
				</div>

				<!-- List my claims in progress -->
				<div class="draft-list-title">
					<h3>My claims in progress</h3>
				</div>
				<div ng-repeat="claim in user.meta.unPublished" ng-include src="'/partials/claimDraft-partial.html'"></div>

				<!-- List my published claims -->
				<div class="published-list-title">
					<h3>My published claims</h3>
				</div>
				<div ng-repeat="claim in user.meta.published" ng-include src="'/partials/claimPreview-partial.html'"></div>

			</div>

		</div>
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Import angular app scripts here -->
<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/services/getClaims-service.js"></script>
<script src="/explorer/services/getUsers-service.js"></script>

<!-- Editor app extends the Explorer app, so it all loads in second -->
<script src="/editor/editor-app.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/services/myData-service.js"></script>
<script src="/editor/controllers/newClaim-controller.js"></script>
<script src="/editor/controllers/myProfile-controller.js"></script>
<script src="/editor/controllers/myDrafts-controller.js"></script>
<script src="/editor/controllers/myClaims-controller.js"></script>
<script src="/editor/controllers/editorList-controller.js"></script>