<div ng-app="Editor" class="app-rap">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
	<div class="header">
		{{> header-content }} 
	</div>

	<div class="body">

		<div class="sidebar-left">
			{{> sidebar-left-content }}
		</div>

		<div class="main editor">

			<div ng-controller="MyProfileController" class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Editor.</h1>
				<img src="{{user.meta.gravatar}}?s=40" alt="">
				
			</div>

			<div class="main__body">

				<div ng-controller="NewDraftController">
					<div ng-include src="'/partials/drafts/newDraft-partial.html'"></div>
				</div>

				<!-- Client side Views / routes set up in editor-app.js -->
				<div ng-view>
					
				</div>


				<!-- Draft claim editor -->
				

				<!-- List my claims in progress -->
				<!--<div ng-controller="MyDraftsController">
					<div class="draft-list-title js-collapsable-title">
						<h3>My claims in progress</h3>
					</div>
					<div class="js-collapsable-content">
						<div ng-repeat="claim in user.meta.unPublished" ng-include src="'/partials/drafts/singleDraftClaim-partial.html'"></div>
					</div>
				</div>-->

				<!-- List my published claims -->
				<!--
				<div ng-controller="MyClaimsController">
					<div class="published-list-title js-collapsable-title">
						<h3>My published claims</h3>
					</div>
					<div class="js-collapsable-content">
						<div ng-repeat="claim in user.meta.published" ng-include src="'/partials/claimPreview-partial.html'"></div>
					</div>
				</div>-->

				<!-- List my deleted drafts -->
				<!--
				<div ng-controller="MyTrashController">
					<div class="deleted-list-title js-collapsable-title">
						<h3>Deleted drafts</h3>
					</div>
					<div class="js-collapsable-content">
						<div ng-repeat="claim in user.meta.trashed" ng-include src="'/partials/claimDraft-partial.html'"></div>
					</div>
				</div>-->

			</div>

		</div>

		<div class="sidebar-right">
			
		</div>

	</div>

	<div class="footer">
		
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Import angular app scripts here -->
<script src="/explorer/explorer-app.js"></script>
<script src="/explorer/controllers/explorerNav-controller.js"></script>
<script src="/explorer/services/getClaims-service.js"></script>
<script src="/explorer/services/getUsers-service.js"></script>

<!-- Editor app extends the Explorer app, so it all loads in second -->
<script src="/editor/editor-app.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/services/myData-service.js"></script>
<script src="/editor/services/notification-service.js"></script>
<script src="/editor/controllers/newDraft-controller.js"></script>
<script src="/editor/controllers/draftEditor-controller.js"></script>
<script src="/editor/controllers/myProfile-controller.js"></script>
<script src="/editor/controllers/myDrafts-controller.js"></script>
<script src="/editor/controllers/myPublished-controller.js"></script>
<script src="/editor/controllers/myTrash-controller.js"></script>
<script src="/editor/controllers/editorNav-controller.js"></script>
<!-- <script src="/editor/controllers/editorList-controller.js"></script> -->