<div ng-app="Explorer" class="app-rap">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}

	<div class="header">
		{{> header-content }}
	</div> 
	

	<div class="body">

		<div class="sidebar-left">
			{{> sidebar-left-content }}
		</div>

		<div class="main explorer">

			<div class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Explorer</h1>
				<p class="learn-more">What is WikiLogic?</p>
			</div>

			<div class="main__body">

				<!-- The List component. -->
				<p class="list__title">List of claims by: {{list.listType}}</p>
				<div ng-repeat="claim in list.claims" ng-include src="'/partials/claimPreview-partial.html'"></div>

			</div>

		</div>

		<div class="sidebar-right">
			
		</div>
	</div>

	<div class="footer">
		
	</div>

</div> <!-- END of ng-app="Explorer" -->

<!-- Import angular app scripts here -->
<script src="explorer/explorer-app.js"></script>
<script src="explorer/services/getClaims-service.js"></script>
<script src="explorer/controllers/explorerList-controller.js"></script>