/*
input[type='submit'] 
button
*/
.button {

	padding: 9px 14px 8px;
	color: white;
	fill: white;
	border: 0;
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none; 

	svg { 
		fill:white; 
	}

	&--small {
		padding: 1px 5px;
	}
	
	transition: background-image 0.2s ease;
	
	background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Blue, 5%), darken($WL_Blue, 3%));
	
	&:hover {
		background-image: radial-gradient(circle farthest-corner at 50% 20%, lighten($WL_Blue, 1%), darken($WL_Blue, 3%));
		color: white;
	}
	&:active {
		background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Blue, 8%), darken($WL_Blue, 6%));
		border: 0;
		outline: 0;
		box-shadow: inset 0px 0px 5px rgba(darken($WL_Blue, 20%), 0.5);
	}

	&--green {
		background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Green, 5%), darken($WL_Green, 3%));
	
		&:hover {
			background-image: radial-gradient(circle farthest-corner at 50% 20%, lighten($WL_Green, 1%), darken($WL_Green, 3%));
		}
		&:active {
			background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Green, 8%), darken($WL_Green, 6%));
			border: 0;
			outline: 0;
			box-shadow: inset 0px 0px 5px rgba(darken($WL_Green, 20%), 0.5);
		}
	}

	&--red {
		background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Red, 5%), darken($WL_Red, 3%));
	
		&:hover {
			background-image: radial-gradient(circle farthest-corner at 50% 20%, lighten($WL_Red, 1%), darken($WL_Red, 3%));
		}
		&:active {
			background-image: radial-gradient(circle farthest-corner at 50% 20%, darken($WL_Red, 8%), darken($WL_Red, 6%));
			border: 0;
			outline: 0;
			box-shadow: inset 0px 0px 5px rgba(darken($WL_Red, 20%), 0.5);
		}
	}

	&--clear {
		background-image: none;
		background: none;
		&:hover {
			background-image: none;
			background: none;
		}
		&:active {
			background-image: none;
			background: none;
		}
	}

	&:focus {
		outline: 0;
	}

	&--white {}

	&--clear {
		background-image: none;
		background-color: rgba(white, 0);

		&:hover {
			background-image: none;
			background-color: rgba($WL_Blue, 0.2);
		}
		&:active {
			background-image: none;
			background-color: rgba(darken($WL_Blue, 5%), 0.2);
			box-shadow: inset 0px 0px 10px rgba(black, 0.3);
		}
	}

}


.inputAddon {
	display:flex;
	&__field { 
		flex:1; 
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&__button {  
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		border-left:0;
	} 
}

input[type='submit'] { @extend .button; }
input[type='button'] { @extend .button; }
button { @extend .button; }