ul {
	font-size: rem(16);
	line-height: 1.2;
	list-style-type: none;
	padding: 0 1.25em;
	margin: 0 0 1em;

	li {
		position: relative;
		padding-left: 1.25em;
		margin-bottom: 0;

		&:before {
			content: " ";
			display: block;
			position: absolute;
			left: 0;

			width: 0.3em;
			height: 1.2em;
			//@include inline-svg($icon-dot, $AS_Charcoal);
			background-repeat: no-repeat;
			background-position: left center;
		}

		&.li-point {

			//&--teal:before { @include inline-svg($icon-dot, $AS_Teal); }
			//&--charcoal:before { @include inline-svg($icon-dot, $AS_Charcoal); }
			//&--marigold:before { @include inline-svg($icon-dot, $AS_Marigold); }
			//&--green:before { @include inline-svg($icon-dot, $AS_Green); }
		}

		&.li-blank {
			&:before { display: none; }
		}
		&.li-justified {
			padding-left: 0;
			padding-right: 0;
		}

		/* decrease typography margins within lists, roughly 1/2 normal, also equal above and below: keeping things centered */
		h1, h2, h3 { margin: 0.25em 0; }
		h4, h5, h6 { margin: 0.125em 0; }
	}
}

/* squeeze the bullet point area, probably most used in sidebars */
.ul--compact {
	font-size: rem(16);
	padding: 0em;

	li {
		padding-left: 0.6em;
	}

	ul {
		padding-left: 0.4em;
	}
}

/* creates a border between each li */
.ul--borders {
	li { 
		border-bottom: 1px solid #eee; r-top: 0;
	}
}