<!--
	This template serves the EDITOR angular app, 
	it's called into main.hbs by {{{body}}} 
-->
<div ng-app="Editor">

	{{!-- These partials are called from views/common, they're here so that they get caught under the control of ng-app --}}
	{{> mini-header }} 
	{{> main-sidebar }} 
	{{> footer-sidebar }}

	
	<div class="main">
		<div class="editor">

			<div ng-controller="MyProfileController" class="main__head">
				<!-- This might need to eb split out too -->
				<h1>The Editor.</h1>
				<p class="learn-more">{{user.local.email}}</p>
				<img src="{{user.meta.gravatar}}" alt="">
			</div>

			<div class="main__body">

				<!-- The creat new claim component. -->
				<div ng-controller="NewClaimController"> <!-- can't have controller and include on one div :( -->
					<div ng-include src="'/editor/partials/newClaim-partial.html'"></div>
				</div>

				<!-- List my claims in progress -->
				<div ng-controller="MyDraftsController" class="list">
					<p class="list__title">My claims in progress</p>
					<div class="claim-preview" ng-repeat="claim in user.meta.unPublished">
						<div ng-include src="'/common/partials/claimPreview-partial.html'"></div>
					</div>
				</div>

				<!-- List my published claims -->
				<div ng-controller="MyClaimsController" class="list">
					<p class="list__title">My published claims</p>
					<div class="claim-preview" ng-repeat="claim in user.meta.published">
						<div ng-include src="'/common/partials/claimPreview-partial.html'"></div>
					</div>
				</div>

			</div>

		</div>
	</div>

</div> <!-- END of ng-app="Editor" -->

<!-- Import angular app scripts here -->
<script src="/editor/editor-app.js"></script>
<script src="/common/services/getClaims-service.js"></script>
<script src="/common/services/getUsers-service.js"></script>
<script src="/editor/services/saveClaims-service.js"></script>
<script src="/editor/controllers/newClaim-controller.js"></script>
<script src="/editor/controllers/myProfile-controller.js"></script>
<script src="/editor/controllers/myDrafts-controller.js"></script>
<script src="/editor/controllers/myClaims-controller.js"></script>
<script src="/editor/controllers/editorList-controller.js"></script>

{{!-- The body tag comes after this in the main.hbs file.  This is the end of the Editor app! --}}