
<div class="horizontal-menu" ng-init="init()">
	<div class="btn btn--light" ng-click="saveEdit(currentDraft)">Submit changes</div>
	<div class="btn btn--light">Flag ?</div>
	<div class="btn btn--light">Copy ?</div>
</div>

<div class="draft-editor__description">
	<img ng-if="currentDraft.status" src="/icons/black/check.svg" alt="true">
	<img ng-if="!currentDraft.status" src="/icons/black/cross.svg" alt="false">
	<h2>{{currentDraft.description}}</h2>
</div>


<div ng-include src="'/editor/argumentEditor/argumentEditor-partial.html'"></div>

