<div class="card box bg-color--white">
	<!-- Big options -->
	<div class="horizontal-menu" ng-init="init()">
		<div class="btn btn--light" ng-click="saveAddition(inFocus)">Submit changes</div>
		<div class="btn btn--light" ng-click="flagClaim(inFocus)">Flag (need options)</div>
		<div class="btn btn--light" ng-click="makeDraftCopy(inFocus)">Make draft copy</div>
	</div>

	<!-- Main Claim -->
	<div class="draft-editor__description">
		<img ng-if="inFocus.status" src="/icons/black/check.svg" alt="true">
		<img ng-if="!inFocus.status" src="/icons/black/cross.svg" alt="false">
		<h2>{{inFocus.description}}</h2>
	</div>

	<!-- Claim refrences -->
	<div class="argument-editor">

		<div class="argument-editor__args-row">
			<div class="argument-editor__args-row__supporting-column">
				<div class="argument-editor__args-row__column-title">
					<h3>For</h3>
					<div class="btn btn--small" ng-click="addArgument('supporting')">Add argument</div>
				</div>

				<!-- for each for argument in inFocus.supporting -->
				<div ng-repeat="arg in inFocus.supporting track by $index">
					<div ng-controller="claimArgGroupController" ng-init="init('supporting', $index)" ng-include src="'/editor/claimEditor/claimArgGroup/claimArgGroup-partial.html'">
						
					</div>
				</div>				
			</div>

			<div class="argument-editor__args-row__spacer-column"></div>
			
			<div class="argument-editor__args-row__opposing-column">
				<div class="argument-editor__args-row__column-title">
					<h3>Against</h3>
					<div class="btn btn--small" ng-click="addArgument('opposing')">Add argument</div>
				</div>
				
				<!-- for each for argument in inFocus.opposing -->
				<div ng-repeat="arg in inFocus.opposing track by $index">
					<div ng-controller="claimArgGroupController" ng-init="init('opposing', $index)" ng-include src="'/editor/claimEditor/claimArgGroup/claimArgGroup-partial.html'">
						
					</div>
				</div>	

			</div>
		</div>
	</div>

</div>