<div class="card box bg-color--white">
	
	<div class="splitter splitter--full-width" ng-init="init()">
		<div class="splitter__left">
			<h3>
				<img src="/icons/black/infinity.svg" alt="claim" class="icon">
				<span>Claim	</span>
			</h3>
		</div>
		<div class="splitter__right">
			<div class="horizontal-menu">
				<div class="button display-inline-block" ng-click="saveAddition(inFocus)">Submit changes</div>
				<div class="button display-inline-block" ng-click="flagClaim(inFocus)">Flag (need options)</div>
				<div class="button display-inline-block" ng-click="makeDraftCopy(inFocus)">Make draft copy</div>
			</div>
		</div>
	</div>

	<br>
	
	<!-- Main Claim 
	<div class="draft-editor__description">
		<img ng-if="inFocus.status" src="/icons/black/check.svg" alt="true">
		<img ng-if="!inFocus.status" src="/icons/black/cross.svg" alt="false">
		<h2>{{inFocus.description}}</h2>
	</div>-->

	<div class="splitter splitter--v-centered box box--5">
		<div class="splitter__left box v-align-top">
			<h3 class="no-break">
				<img ng-if="inFocus.status" src="/icons/black/check.svg" alt="true" class="icon">
				<img ng-if="!inFocus.status" src="/icons/black/cross.svg" alt="false" class="icon">
			</h3>
		</div>
		<div class="splitter__right full-width">
			<h2>{{inFocus.description}}</h2>
		</div>
	</div>

	<br>

	<!-- Claim refrences -->
	<div class="row">

		<div class="col col--50 js-supporting-column">
			
			<!-- for column header -->
			<div class="splitter splitter--full-width splitter--v-bottom">
				<div class="splitter__left">
					<h3>For</h3>
				</div>
				<div class="splitter__right">
					<div class="button button--compact display-inline-block" ng-click="addArgument('supporting')">Add argument</div>
				</div>
			</div>

			<br class="br--5">

			<!-- for each for argument in inFocus.supporting -->
			<div ng-repeat="arg in inFocus.supporting track by $index">
				<div ng-controller="claimArgGroupController" ng-init="init('supporting', $index)" ng-include src="'/editor/claimEditor/claimArgGroup/claimArgGroup-partial.html'">
					
				</div>
			</div>	

		</div>

		<div class="col col--50 js-opposing-column">

			<!-- against column header -->
			<div class="splitter splitter--full-width splitter--v-bottom">
				<div class="splitter__left">
					<h3>Against</h3>
				</div>
				<div class="splitter__right">
					<div class="button button--compact display-inline-block" ng-click="addArgument('opposing')">Add argument</div>
				</div>
			</div>

			<br class="br--5">

			<!-- for each for argument in inFocus.opposing -->
			<div ng-repeat="arg in inFocus.opposing track by $index">
				<div ng-controller="claimArgGroupController" ng-init="init('opposing', $index)" ng-include src="'/editor/claimEditor/claimArgGroup/claimArgGroup-partial.html'">
					
				</div>
			</div>	

		</div>

	</div>

</div>