<div class="card box bg-color--white"> <!-- NewDraftController defined in editor-app.js -->
	<form class="inputAddon">
		<input type="text" class="inputAddon__field big" ng-model="newDraft.description" ng-change="newDescriptionCheck()" placeholder="write up a new claim here" />   
		<input type="submit" id="js-saveDraftBtn" class="inputAddon__button" ng-click="saveToProfile(newClaim)" value="Save draft & build arguments" />
	</form>
</div>

<br />
<p>TODO - kill this view, should be part of my drafts list</p>