input, 
textarea,
select {
	background-color:white;
	padding: rem(5) rem(10);
	border: 1px solid #DDDDDD;
	outline: none;
	color: black;
	&:focus {
		box-shadow: 0 0 5px $WL_Blue;
		border: 1px solid $WL_Blue;
	}
}

button {
	background-color: $WL_Blue;
	padding: 9px 14px 8px;
	color: white;
	border: 0;
	position: relative;

	&:after {
		position: absolute;
		display: block;
		content: " ";
		top: 5px;
		right: 5px;
		left: 5px;
		bottom: 0;
		box-shadow: 0 0 5px $WL_Blue;
		transition: box-shadow 0.2s ease;
	}

	&:hover {
		&:after {
			box-shadow: 0 1px 8px $WL_Blue;
		}
	}

	&:active {
		&:after {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			box-shadow: inset 0 0 10px darken($WL_Blue, 5%);
		}
		outline: 0;
		border: 0;
	}

	&:focus {
		outline: 0;
		border: 0;
	}
}

.button {

	&--green {
		background-color: $WL_Green;
		&:after { box-shadow: 0 0 5px $WL_Green; }
		&:hover { &:after { box-shadow: 0 1px 8px $WL_Green; } }
		&:active { &:after { box-shadow: inset 0 0 10px darken($WL_Green, 5%); } }
	}
	&--red {
		background-color: $WL_Red;
		&:after { box-shadow: 0 0 5px $WL_Red; }
		&:hover { &:after { box-shadow: 0 1px 8px $WL_Red; } }
		&:active { &:after { box-shadow: inset 0 0 10px darken($WL_Red, 5%); } }
	}
}

form {
	input,
	textarea,
	select,
	button {
		width: 100%;
		margin-bottom: 0.5em;
	}
}

.inputAddon {
	display:flex;
	&__field { 
		flex:1; 
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&__button {  
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		border-left:0;
	} 
}