<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="god" class="bg-pattern">
	<a href="#main" class="aria-only">Skip to main content</a>
	<div class="display-none">{{>svgs}}</div>
	<div class="header-layout screen-height">

	    <div class="header-layout__head bg-color--grey-1 splitter splitter--full-width box">

	        <div class="splitter__left">
	        	<button class="js-logo-button"><svg class="icon icon--30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wl"></use></svg></button>
	        </div>
	        <div class="splitter__right full-width">

				<div class="splitter">
	        		<div class="splitter__left full-width">
	        			<input class="js-search full-width" type="text" placeholder="Search WL" data-search-id="main_results">
	        		</div>
	        		<div class="splitter__right">

						<a href="/profile" class="profile-icon">
							<img src="{{user.meta.gravatar}}?s=40" alt="your profile" class="display-block">
						</a>

	        		</div>
	        	</div>
	        
	        </div>

	    </div>

	    <div class="header-layout__body root-sidebar js-root-sidebar">

	        <div ng-controller="EditorNavController" class="root-sidebar__side y-scroll bg-color--grey-1">

	            <hr>

	            {{> nav }}

	            <hr>

	            <div class="working-list js-working-list"
                	data-working-list-id="main_list">
	                <button
	                    class="working-list__claim"
	                    view-each-claim="working_list.claims"
	                    view-on-click="working_list.actions.clicked">
	                    {claim.description}
	                </button>
	            </div>

	        </div>

	        <div class="root-sidebar__main y-scroll">
	             	
	             {{{body}}}

	        </div>

	    </div>

	</div>

	<div class="alerts">
		<div class="alert js-alerts" 
		data-alerts-id="main_alerts"
		view-each-alert="alerts.active">
			{{> alert }}
		</div>
	</div>

	<script src="/js/common.bundle.js"></script>
</body>
</html>