<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-pattern">
	{{>svgs}}
	{{{body}}}
	<script src="/js/common.bundle.js"></script>
</body>
</html>