<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="god" class="bg-pattern">
	<a href="#main" class="aria-only">Skip to main content</a>
	<div class="display-none">{{>svgs}}</div>
	<div class="header-layout screen-height">

	    <div class="header-layout__head bg-color--grey-1 splitter splitter--full-width box">

	        <div class="splitter__left">
	        	<button class="js-logo-button"><svg class="icon icon--30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wl"></use></svg></button>
	        </div>
	        <div class="splitter__right full-width">

				<div class="splitter">
	        		<div class="splitter__left full-width">
	        			<input class="js-search full-width" type="text" placeholder="Search WL" data-search-id="main_results">
	        		</div>
	        		<div class="splitter__right js-explore">
	        			<button class="js-explore-button"><svg class="icon icon--30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use></svg></button>
	        			<div class="explorer-menu js-explore-menu">
	        				<div class="explorer-menu__body">
	        					<div class="card bg-color--white box">
									<div class="disabled">
			        				<button class="box"
			        					view-on-click="search.actions.get_most_critical"
			        					data-search-id="main_results">
			        					<svg class="icon color-black"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt"></use></svg>
			        					Critical
			        				</button>

			        				<button class="box"
			        					view-on-click="search.actions.get_most_capricious"
			        					data-search-id="main_results">
			        					<svg class="icon color-black"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fire"></use></svg>
			        					Capricious
			        				</button>
			        				</div>
			        				

			        				<button class="box"
			        					view-on-click="search.actions.get_most_recent"
			        					data-search-id="main_results">
			        					<svg class="icon color-black"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use></svg>
			        					Recent
			        				</button>

		        				</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        
	        </div>

	    </div>

	    <div class="header-layout__body root-sidebar js-root-sidebar">

	        <div ng-controller="EditorNavController" class="root-sidebar__side y-scroll bg-color--grey-1">

	            <hr>

	            <div class="text-center">
	                <a href="/profile" class="border user-icon display-inline-block">
	                    <img src="{{user.meta.gravatar}}?s=80" alt="your profile" class="display-block">
	                </a>
	                <p>{{user.name}}</p>
	            </div>

	            <hr>

	            {{> nav }}

	        </div>

	        <div class="root-sidebar__main y-scroll">
	             	
	             {{{body}}}

	        </div>

	    </div>

	</div>

	<div class="alerts">
		<div class="alert js-alerts" 
		data-alerts-id="main_alerts"
		view-each-alert="alerts.active">
			{{> alert }}
		</div>
	</div>

	<script src="/js/common.bundle.js"></script>
</body>
</html>