<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="god" class="bg-pattern">
	<div class="display-none">{{>svgs}}</div>
	<div class="header-layout screen-height">

	    <div class="header-layout__head bg-color--grey-1 splitter splitter--full-width box box--16">
	        <div class="splitter__left">
	        	<a href="/"><svg class="icon icon--30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wl"></use></svg></a>
	        </div>
	        <div class="splitter__right full-width">
	        	<input class="js-search full-width" type="text" placeholder="Search WL">
	        </div>
	    </div>

	    <div class="header-layout__body sidebar-layout">

	        <div ng-controller="EditorNavController" class="sidebar-layout__side y-scroll bg-color--grey-1">

	            <hr>

	            <div class="text-center">
	                <a href="/profile" class="border user-icon display-inline-block">
	                    <img src="{{user.meta.gravatar}}?s=80" alt="your profile" class="display-block">
	                </a>
	                <p>{{user.name}}</p>
	            </div>

	            <hr>

	            {{> nav }}

	        </div>

	        <div class="sidebar-layout__main y-scroll">
	             	
	             {{{body}}}

	        </div>

	    </div>


	    <!-- This will hook in and display any search results. It is free to be moved around by any controller for it's needs. It acts kind of like intellisense, but for claims -->
	    <div class="searchResultsTip card bg-color--grey-1 box box--5" ng-controller="SearchBoxController" ng-include src="'/editor/searchBox/searchBox-partial.html'">
	         
	    </div>
	    

	</div>


	<script src="/js/common.bundle.js"></script>
</body>
</html>