<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wikilogic</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="god" class="bg-pattern box">
	{{{body}}}
	<script src="/js/landing.bundle.js"></script>
</body>
</html>