<!-- A claim item to be used in a list of claims -->
<div class="claim-list-item splitter splitter--full-width box box--5">
	<p class="splitter__left">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" class="icon">
			<path d="M6.41 0l-.69.72-2.78 2.78-.81-.78-.72-.72-1.41 1.41.72.72 1.5 1.5.69.72.72-.72 3.5-3.5.72-.72-1.44-1.41z" transform="translate(0 1)" />
		</svg>
		<a ng-href="#edit-draft/{{draft._id}}">{{draft.description}}</a>
	</p>
	<div class="claim-list-item__hover-show splitter__right">
		<!--<a class="button button--compact display-inline" ng-href="#edit-draft/{{draft._id}}">Edit</a>-->
		<div class="button button--compact button--green display-inline" ng-click="publishDraft(draft)">Publish</div>
		<div class="button button--compact button--red display-inline" ng-click="deleteDraft(draft)">Delete</div>
	</div>
</div>