/* colors */
$WL_Red:		#F25454; 
$WL_Green:		#31D332; 
$WL_Blue: 		#5f9aec;

/* shades of grey */
$grey-e:		#eeeeee;
$grey-d:		#dddddd;
$grey-c:		#cccccc;
$grey-b:		#bbbbbb;
$grey-a:		#aaaaaa;
$grey-6:		#6f8db9;
$grey-5:		#5e7ca8;
$grey-4:		#4e6a92;
$grey-3:		#375073;
$grey-2:		#223856;
$grey-1:		#131E2D;  //default grey-dark