$oldIE: false !default;

$pad: 10;
$pad-small: 15; //mobile / touch screen users will need more padding for their fingers
$pad-medium: 5; //larger screens are likley to be using a mouse.

// Spacing
// ------------------------------------------------------------------------------
$sidebarWidthSmall: 190px;
$sidebarWidthMedium: 270px;


// Fonts
// ------------------------------------------------------------------------------
$weightSuperLight: 100;
$weightLight: 300;
$weightRegular: 400;
$weightSemiBold: 500;
$weightBold: 600;


// Icons
// ------------------------------------------------------------------------------

$icons: (
	menu: '\e800',
	down-dir: '\e801',
);
