.argument {
	border:1px dashed $lightBorderClr;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;

	&__head {
		display:flex;
		align-items: center;
		padding: 4px;
		border-bottom: 1px solid $lightBorderClr;

		&__status {
			width: 16px;
			height: 16px;
			margin:0 5px 0 3px;
			img {
				width:100%;
			}
		}

		&__author {
			flex-grow: 1;
		}
		.btn {
			margin-left:5px;
			opacity: 0;
		}

		&:hover {
			background: white;
			.btn {
				opacity: 1;
			}
			& ~ .reason {
				background:white;
			}
		}
	}

	&--impact-false {
		border-color:$falseRed;
		.argument__head {
			border-color:$falseRed;
		}
	}
	&--impact-true {
		border-color:$trueGreen;
		.argument__head {
			border-color:$trueGreen;
		}
	}
}