
.claim-preview {

	display: flex;
	align-items: center;
	padding: 4px;
	+.claim-preview { border-top: 1px solid $lightBorderClr; }

	&__status {
		width: 16px;
		height: 16px;
		margin-right:5px;
		img {
			width:100%;
		}
	}
	&__description {
		flex-grow:1;
		a {	
			color: $textDark;
			text-decoration: none;
			&:hover {
				color: $textDark;
				text-decoration: underline;
			}
		}
	}

	.btn {
		margin-left:5px;
		opacity: 0;
	}
	&:hover { 
		background: white;
		.btn {
			opacity: 1;
		}
	}
	
	
	&__right {
		text-align: right;
	}

	&__footer-left {
		width:49%;
		display: inline-block;
		vertical-align: middle;
		&__supporting-row {
			display: block;
			line-height:12px;
			.supporting {
				display: inline-block;
				width:25px;
				height:10px;
				background:$trueGreen;
				border-radius:2px;
				vertical-align: middle;
			}
		}
		&__opposing-row {
			display: block;
			line-height:12px;
			.opposing {
				display: inline-block;
				width:25px;
				height:10px;
				background:$falseRed;
				border-radius:2px;
				vertical-align: middle;
			}
		}
	}

	&__footer-right {
		width:49%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
}

@include breakpoint(medium) {
	.claim-preview {
		.icon {
		}
		a {

		}		
	}
}