.draft-claim-editor {
	&__claim {
		width:100%;
		text-align:center;
	}
	&__args-row {
		display: flex;
		&__for-column {
			flex-grow: 1;
		}
		&__spacer-column {
			width:10px;
		}
		&__against-column {
			flex-grow: 1;
		}
		&__column-title {
			@include titleBar();
			margin-bottom: 15px;
			display: flex;
			align-items:center;
			padding: 4px;
			h3 {
				flex-grow: 1;
			}
			.btn {
				opacity: 0;
			}
			&:hover {
				background: white;
				.btn {
					opacity: 1;
				}
				& ~ .ng-scope {
					background:white;
				}
			}
		}
	}
}