/* Used at the top of the sidebar to switch between the Explorer and Editor apps */
.nav-appToggle {
	display: flex;
	padding-top:15px;
	.btn {
		-webkit-box-flex: auto;
		-webkit-flex: auto;
		-ms-flex: auto;
		flex: auto;
		font-size:12px;
		background: $darkGrey;
		&:hover {
			background: $middleGrey;
		}
	}
}