/* Used at the top of the sidebar to switch between the Explorer and Editor apps */
.nav-appToggle {
	display: flex;
	.btn {
		-webkit-box-flex: auto;
		-webkit-flex: auto;
		-ms-flex: auto;
		flex: auto;
		font-size:12px;
		background: $darkGrey;
		text-align: center;
		&:hover {
			background: $middleGrey;
		}
	}
	&.selected {
		background: $middleGrey;
		&:hover {
			cursor: default;
		}
	}
}