.search {
	perspective: 1000px;
	display:inline-block;
	vertical-align: middle;
	width: 200px;
	z-index: 20;

	input {
		border:0;
		border-radius: 15px;
		width: 200px;
		&:focus {
			transform: translateZ(10px);
			width: 600px; //I want this to be the width of the screen - padding
		}
	}
}