<div class="draft-claim-editor"> <!-- ng-controller="draftEditorController" -->
					
	<div class="draft-claim-editor__claim js-collapsable-title">
		<!-- if draft then contentEditable -->
		<h1 contentEditable="true">Main claim here</h1>
	</div>

	<div class="draft-claim-editor__args-row js-collapsable-content">
		<div class="draft-claim-editor__args-row__for-column">
			<div class="draft-claim-editor__args-row__column-title">
				<h3>For</h3>
				<div class="btn btn--small">Add argument</div>
			</div>

			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>
			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>							

		</div>

		<div class="draft-claim-editor__args-row__spacer-column"></div>
		
		<div class="draft-claim-editor__args-row__against-column">
			<div class="draft-claim-editor__args-row__column-title">
				<h3>Against</h3>
				<div class="btn btn--small">Add argument</div>
			</div>
			
			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>
			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>		

		</div>
	</div>
</div>