<div class="argument argument--impact-false"> <!-- or impact-true -->
	<div class="argument__head">
		<div class="argument__head__status">
			<img src="/icons/black/check.svg" alt="true">
		</div>
		<div class="argument__head__author">
			Authored by: 
		</div>
		<div class="btn btn--small">Add reason</div>
		<div class="btn btn--small">Delete</div>
	</div>

	<div ng-include src="'/partials/arguments/reason-partial.html'"></div>
	<div ng-include src="'/partials/arguments/reason-partial.html'"></div>
	<div ng-include src="'/partials/arguments/reason-partial.html'"></div>


</div>