<div class="draft-claim-editor"> <!-- ng-controller="draftEditorController" -->

	<div class="draft-claim-editor__args-row">
		<div class="draft-claim-editor__args-row__for-column">
			<div class="draft-claim-editor__args-row__column-title">
				<h3>For</h3>
				<div class="btn btn--small" ng-click="addArgument('supporting')">Add argument</div>
			</div>

			<!-- for each for argument in currentDraft.supporting -->
			<div ng-repeat="arg in currentDraft.supporting" ng-include src="'/partials/arguments/argument-partial.html'"></div>
			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>							

		</div>

		<div class="draft-claim-editor__args-row__spacer-column"></div>
		
		<div class="draft-claim-editor__args-row__against-column">
			<div class="draft-claim-editor__args-row__column-title">
				<h3>Against</h3>
				<div class="btn btn--small" ng-click="addArgument('opposing')">Add argument</div>
			</div>
			
			<!-- for each for argument in currentDraft.opposing -->
			<div ng-repeat="arg in currentDraft.opposing" ng-include src="'/partials/arguments/argument-partial.html'"></div>
			<div ng-include src="'/partials/arguments/argument-partial.html'"></div>		

		</div>
	</div>
</div>