{{!-- This template serves the EXPLORER angular app --}}

<!-- everything within here changes for the explorer routes -->
<div class="explorer">

	<div class="main__head">
		<!-- This might need to eb split out too -->
		<h1>The Explorer.</h1>
		<p class="learn-more">What is WikiLogic?</p>
	</div>

	<div class="main__body" ng-controller="ListController">

		<button ng-click="setListToRecent()">Get recent list</button>

		<!-- need to get the list into here with angular -->
		<div ng-include src="'/explorer/partials/list.html'"></div>

	</div>

</div>

<!-- Import angular app scripts here -->
<script src="explorer/app.js"></script>
<script src="explorer/controllers/explorer-list.js"></script>