{{!-- This template serves the EXPLORER angular app --}}

<div class="main__head">
	<h1>The Explorer.</h1>
</div>

<div class="main__body">
	<p>angular here</p>	
</div>

<!-- Import angular app scripts here -->