{{!-- This template serves the EXPLORER angular app --}}

<div class="main__head">
	<h1>The Explorer.</h1>
	<p class="learn-more">What is WikiLogic?</p>
</div>

<div class="main__body">

	<div class="claim-preview">
		<div class="claim-preview__header">
			<div class="icon icon-true">true</div>
			<p><a href="#">Description of the claim will go here.</a></p>
		</div>

		<div class="claim-preview__footer-left">
			<div class="claim-preview__footer-left__supporting-row">
				<div class="supporting"></div>
				<div class="supporting"></div>
				<div class="supporting"></div>
			</div>
			<div class="claim-preview__footer-left__opposing-row">
				<div class="opposing"></div>
				<div class="opposing"></div>
			</div>
		</div>

		<div class="claim-preview__footer-right">
			<div class="icon icon-DLW">DLW</div>
			<div class="icon icon-save">saves</div>
			<div class="icon icon-share">share</div>
		</div>
	</div>

</div>

<!-- Import angular app scripts here -->