<!-- A claim item to be used in a list of claims -->
<div class="claim-preview__header">
	<div class="icon icon-true">true</div>
	<p><a href="#">{{claim.description}}</a></p>
</div>

<div class="claim-preview__footer-left">
	<div class="claim-preview__footer-left__supporting-row">
		<div class="supporting"></div>
		<div class="supporting"></div>
		<div class="supporting"></div>
	</div>
	<div class="claim-preview__footer-left__opposing-row">
		<div class="opposing"></div>
		<div class="opposing"></div>
	</div>
</div>

<div class="claim-preview__footer-right">
	<div class="icon icon-DLW">DLW</div>
	<div class="icon icon-save">saves</div>
	<div class="icon icon-share">share</div>
</div>