<!-- A claim item to be used in a list of claims -->
<div class="claim-preview">
	<div class="claim-preview__status">
		<img src="/icons/check.svg" alt="true">
	</div>
	<div class="claim-preview__description">
		<a href="#">{{claim.description}}</a>
	</div>
	<div class="button">Show in map</div>
	<div class="button">save to favs</div>
	<div class="button">share</div>
</div>
<!--
<div class="claim-preview__footer-left">
	<div class="claim-preview__footer-left__supporting-row">
		<div class="supporting"></div>
		<div class="supporting"></div>
		<div class="supporting"></div>
	</div>
	<div class="claim-preview__footer-left__opposing-row">
		<div class="opposing"></div>
		<div class="opposing"></div>
	</div>
</div>
-->