.search {
	perspective: 1000px;
	display:inline-block;
	vertical-align: middle;
	width: 200px;
	height:28px;
	z-index: 20;
	margin-left:5px;

	input {
		border:0;
		border-radius: 15px;
		width: 200px;
		&:focus {
			transform: translateZ(10px);
			width: 100%;
			/*
			@include breakpoint(small) { width: 300px; }
			@include breakpoint(medium) { width: 520px; }
			@include breakpoint(wide) { width: 748px; }
			@include breakpoint(superwide) { width: 960px; }
			*/
		}
	}
}

.searchResults {
	position: absolute;
	top: 0;
    left: 0;
	z-index: 999999;
	background-color: black;
	color: white;
}