.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;

	&--10 {
		width: rem(10);
		height: rem(10);
	}

	&--30 {
		width: rem(30);
		height: rem(30);
	}

	&--60 {
		width: rem(60);
		height: rem(60);
	}
}

.icon-history {
	background-image: url(/images/icons/history.svg);
}